<div class="row formnav">
  <div class="col-sm-12">
    <div class="pull-left">
      <div class="col-12">
        <h3 style="margin-top: 20px;margin: 0px;margin-top: 10px;">
          <i class="fa fa-cogs" style="padding-right: 5px;"></i>
          Dashboard Designer
        </h3>
        <p style=" margin-bottom: 5px;"> Dashboard Designer Form </p>
      </div>
    </div>
    <div class="pull-right">
      <button class="btn btn-outline-success" (click)="save()">
        <i class="fa fa-save"></i> Save
      </button>
      <button class="btn btn-outline-danger" (click)="delete()">
        <i class="fa fa-times"></i> Delete
      </button>
    </div>
  </div>
</div>

<div class="row formnav">
  <div class="col-sm-12">
    <div class="pull-left">
      <button type="button" class="btn btn-outline-default btn-round btn-white header header-tab"
              (click)="setVisibleSection('designer');">
        <i class="fa fa-columns"></i>
        Design
      </button>
      <button type="button" class="btn btn-outline-default btn-round btn-white header-tab"
              (click)="setVisibleSection('general');">
        <i class="fa fa-sliders-h"></i>
        General
      </button>
      <button type="button" class="btn btn-outline-default btn-round btn-white header-tab"
      (click)="setVisibleSection('access_control');">
        <i class="fa fa-sliders-h"></i>
        Access Control
      </button>
    </div>
  </div>
</div>

<div [ngClass]="{'is-hidden': this.visibleSection !== 'general' }" class="row form-area">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">
          <i class="fa fa-sliders-h"></i>
          General
        </h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group ">
              <label>Title</label>
              <input type="text" class="form-control" name="title" [(ngModel)]="dto.description">
              <code></code>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div [ngClass]="{'is-hidden': this.visibleSection !== 'designer' }" class="row">

  <div class="col-12 form-area">
    <div class="card tooltip-card" style="border: 2px solid #6b6868 !important;">
      <div class="card-body" style="padding: 0px 15px 0px 15px;">
        <div class="row">
          <div class="col-sm-12">
            <div class="pull-left">
              <button (click)="addArea();" class="btn btn-outline-success">
                <i class="fas fa-plus-square"></i> Add Area
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="{{dashboardArea.cssclass}}" *ngFor="let dashboardArea of this.dto?.dashboardAreaList">
    <div class="row">
      <div class="col-12 form-area">
        <div class="card tooltip-card">
          <div class="card-body" style="padding: 0px 15px 0px 15px;">
            <div class="row">
              <div class="col-sm-12">
                <div class="pull-left">
                  <div ngbDropdown class="d-inline-block" #myDrop="ngbDropdown">

                    <button (click)=" myDrop.open();" class="btn btn-outline-default btn-icon btn-sm" style="height: 2rem; min-width: 2rem;">
                      <i class="fa fa-ellipsis-v" style="font-size: 1rem;"></i>
                    </button>

                    <div ngbDropdownMenu>
                      <button ngbDropdownItem (click)="dto.dashboardAreaList = removeEntityFormList(dashboardArea,dto.dashboardAreaList)" >
                        <i class="fa fa-times"></i> Delete Area
                      </button>

                      <button ngbDropdownItem
                              (click)="moveUp(dashboardArea,dto.dashboardAreaList)">
                        <i class="fa fa-angle-double-left"></i> Move Prev
                      </button>

                      <button ngbDropdownItem
                              (click)="moveDown(dashboardArea,dto.dashboardAreaList)">
                        <i class="fa fa-angle-double-right"></i> Move Next
                      </button>

                      <button ngbDropdownItem
                              data-target="#insertChartModal"
                              data-toggle="modal"
                              (click)="setSelectedArea(dashboardArea);">
                        <i class="fas fa-chart-area"></i> Add Chart
                      </button>

                      <button ngbDropdownItem
                              data-target="#insertInfoCardModal"
                              data-toggle="modal"
                              (click)="setSelectedArea(dashboardArea);">
                        <i class="fab fa-wpforms"></i> Add Info Card
                      </button>

                      <button ngbDropdownItem
                              data-target="#insertHtmlModal"
                              data-toggle="modal"
                              (click)="setSelectedArea(dashboardArea);">
                        <i class="far fa-file-code"></i> Add Html
                      </button>

                      <button ngbDropdownItem
                              data-target="#insertListModal"
                              data-toggle="modal"
                              (click)="setSelectedArea(dashboardArea);">
                        <i class="fa fa-th-list"></i> Add List
                      </button>
                      <div class="dropdown-divider"></div>
                      <div style="padding: 15px;padding-top: 5px">
                        <label>Class</label>
                        <input type="text" class="form-control" [(ngModel)]="dashboardArea.cssclass">
                      </div>
                      <div style="padding: 15px;padding-top: 0px">
                        <label>Css</label>
                        <input type="text" class="form-control" [(ngModel)]="dashboardArea.cssStyle">

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" style="{{dashboardArea.cssStyle}}">
        <div class="row">
            <div class="{{dashboardItem.cssclass}}" *ngFor="let dashboardItem of dashboardArea?.dashboardItemList">
              <div class="row">
                <div class="col-12 form-area">
                  <div class="card ">
                    <div class="card-body" style="padding: 0px 15px 0px 15px;">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="pull-left">
                            <button type="button"
                                    (click)="dashboardArea.dashboardItemList = removeEntityFormList(dashboardItem,dashboardArea.dashboardItemList)"
                                    title="Delete"
                                    class="btn btn-outline-danger btn-icon btn-sm">
                              <i class="fa fa-times"></i>
                            </button>
                            <button type="button"
                                    (click)="moveUp(dashboardItem,dashboardArea.dashboardItemList)"
                                    title="Move"
                                    class="btn btn-outline-success btn-icon btn-sm">
                              <i class="fa fa-angle-double-left"></i>
                            </button>
                            <button type="button"
                                    (click)="moveDown(dashboardItem,dashboardArea.dashboardItemList)"
                                    title="Move"
                                    class="btn btn-outline-success btn-icon btn-sm">
                              <i class="fa fa-angle-double-right"></i>
                            </button>
                            <input type="text" class="form-control textfield" [(ngModel)]="dashboardItem.cssclass">
                          </div>
                          <div class="pull-right">
                            <div class="form-group ">
                              <input type="text" class="form-control" style="margin-top: 7px;width: 80px;" readonly
                                     value="Id: {{dashboardItem.entityId}}">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="dashboardItem.type === 'chart'" class="col-12 form-area">
                  <div class="card">
                    <div class="card-body">
                      <app-chart
                        [id]="dashboardItem.entityId">
                      </app-chart>
                    </div>
                  </div>
                </div>

                <div *ngIf="dashboardItem.type === 'infoCard'" class="col-12 form-area">
                  <div class="card">
                    <div class="card-body" style="padding: 0px;">
                      <app-info-card
                        [id]="dashboardItem.entityId">
                      </app-info-card>
                    </div>
                  </div>
                </div>

                <div *ngIf="dashboardItem.type === 'list'" class="col-12 form-area">
                  <div class="card">
                    <div class="card-body" style="padding: 0px;">
                      <app-list
                        [embeded]="true"
                        [presetCommand]="'LIST[LOCATE:(ID='+dashboardItem.entityId+')]'">
                      </app-list>
                    </div>
                  </div>
                </div>

                <div *ngIf="dashboardItem.type === 'html'" class="col-12 form-area">
                  <div class="card">
                    <div class="card-body">
                      <app-html-dashboard
                        [id]="dashboardItem.entityId">
                      </app-html-dashboard>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    </div>
</div>

<div *ngIf="this.visibleSection === 'access_control'" class="row  form-area">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row formnav">
          <div class="col">
            <div class="pull-left">
              <h5 class="card-title pull-left">
                <i class="fas fa-key"></i>
                Access Control
              </h5>
            </div>
            <div class="pull-right">
              <button (click)="this.dto.accessControls = addRuleButton(this.dto.accessControls)"
                      class="btn btn-outline-primary">
                <i class="fa fa-plus-circle"></i> Add Rule
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label class="form-check-label">
                <label class="checkbox" style="margin-bottom: 0px;">
                  <input type="checkbox" [(ngModel)]="this.dto.accessControlEnabled"/>
                  <span class="info"></span>
                </label>
                <span style="position:absolute;top: 9px;">Enable Access Control</span>
              </label>
            </div></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped">
              <thead class="text-primary">
              <tr>
                <th></th>
                <th>Role</th>
                <th class="text-center">Create</th>
                <th class="text-center">Update</th>
                <th class="text-center">Read</th>
                <th class="text-center">Delete</th>
              </tr>
              </thead>
              <tbody>
              <tr
                *ngIf="this.dto == undefined || this.dto?.accessControls?.length === 0 || this.dto?.accessControls == undefined ">
                <td colspan="8" class="empty-table-row">Empty!</td>
              </tr>
              <tr *ngFor="let securityRow of this.dto?.accessControls">
                <td>
                  <button title="Remove" (click)="dto.accessControls = removeAccessControl(this.dto.accessControls, securityRow)"
                          type="button"
                          class="btn btn-outline-danger btn-icon btn-sm">
                    <i class="fa fa-times"></i>
                  </button>
                </td>
                <td>
                  <div
                    class="input-group input-group-alternative"
                    style="margin-bottom: 0px;cursor: pointer;"
                    (click)="setSelectedSecurityRow(securityRow)">
                    <div style="background-color: #ffffff;"
                         data-target="#selectRoleModal"
                         data-toggle="modal"
                         class="input-group-prepend">
                 <span class="input-group-text">
                    <i class="fa fa-search"></i>
                 </span>
                    </div>
                    <input readonly
                           style="background-color: #ffffff;margin-bottom: 0px;cursor: pointer;"
                           data-target="#selectRoleModal"
                           data-toggle="modal"
                           type="text" class="form-control"
                           value="{{securityRow.role?.name}}">
                    <div style="background-color: #ffffff;"
                         class="input-group-append"
                         (click)="securityRow.role = null;">
                 <span class="input-group-text input-group-text-rm">
                    <i class="fa fa-window-close"></i>
                 </span>
                    </div>
                  </div>
                </td>
                <td class="text-center">
                  --
                </td>
                <td class="text-center">
                  --
                </td>
                <td class="text-center">
                  <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="securityRow.readEntity"/>
                    <span class="info"></span>
                  </label>
                </td>
                <td class="text-center">
                  --
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div aria-labelledby="ModalLabel" class="modal fade" id="drpDwn" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-select-fields">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h4 class="title title-up modal-title">Charts</h4>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><i
          class="nc-icon nc-simple-remove"></i></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-12">
              <table class="table table-striped">
                <thead class=" text-primary">
                <tr>
                  <th>Actions</th>
                  <th>id</th>
                  <th>name</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let chart of charts">
                  <td>
                    <button type="button" title="Delete" class="btn btn-outline-primary btn-icon btn-sm"
                            data-dismiss="modal"
                            (click)="addChart(chart)">
                      <i class="fa fa-plus-circle"></i>
                    </button>
                  </td>
                  <td>
                    <input type="text" readonly class="form-control transparent-input"
                           value="{{chart['id']}}">
                  </td>
                  <td>
                    <input type="text" readonly class="form-control transparent-input"
                           value="{{chart['title']}}">
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="left-side">
          <button class="btn btn-outline-danger" data-dismiss="modal" type="button">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>

<div aria-labelledby="ModalLabel" class="modal fade" id="insertHtmlModal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-select-fields">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h4 class="title title-up modal-title">Charts</h4>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><i
          class="nc-icon nc-simple-remove"></i></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-12">
              <table class="table table-striped">
                <thead class=" text-primary">
                <tr>
                  <th>Actions</th>
                  <th>Id</th>
                  <th>Code</th>
                  <th>Name</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let htmlDashboard of htmlsDashboard">
                  <td>
                    <button type="button" title="Delete" class="btn btn-outline-primary btn-icon btn-sm"
                            data-dismiss="modal"
                            (click)="addHtmlDashboard(htmlDashboard)">
                      <i class="fa fa-plus-circle"></i>
                    </button>
                  </td>
                  <td>
                    <input type="text" readonly class="form-control transparent-input"
                           value="{{htmlDashboard['id']}}">
                  </td>
                  <td>
                    <input type="text" readonly class="form-control transparent-input"
                           value="{{htmlDashboard['code']}}">
                  </td>
                  <td>
                    <input type="text" readonly class="form-control transparent-input"
                           value="{{htmlDashboard['name']}}">
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="left-side">
          <button class="btn btn-outline-danger" data-dismiss="modal" type="button">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>

<div aria-labelledby="ModalLabel" class="modal fade" id="insertChartModal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-select-fields">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h4 class="title title-up modal-title">Charts</h4>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><i
          class="nc-icon nc-simple-remove"></i></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-12">
              <table class="table table-striped">
                <thead class=" text-primary">
                <tr>
                  <th>Actions</th>
                  <th>id</th>
                  <th>name</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let chart of charts">
                  <td>
                    <button type="button" title="Delete" class="btn btn-outline-primary btn-icon btn-sm"
                            data-dismiss="modal"
                            (click)="addChart(chart)">
                      <i class="fa fa-plus-circle"></i>
                    </button>
                  </td>
                  <td>
                    <input type="text" readonly class="form-control transparent-input"
                           value="{{chart['id']}}">
                  </td>
                  <td>
                    <input type="text" readonly class="form-control transparent-input"
                           value="{{chart['title']}}">
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="left-side">
          <button class="btn btn-outline-danger" data-dismiss="modal" type="button">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div aria-labelledby="ModalLabel" class="modal fade" id="insertInfoCardModal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-select-fields">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h5 class="title title-up modal-title">Info Cards</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <i class="nc-icon nc-simple-remove"></i></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-12">
              <table class="table table-striped">
                <thead class=" text-primary">
                <tr>
                  <th>Actions</th>
                  <th>id</th>
                  <th>name</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let infoCard of infoCards">
                  <td>
                    <button type="button" title="Add" class="btn btn-outline-primary btn-icon btn-sm"
                            data-dismiss="modal"
                            (click)="addInfoCard(infoCard)">
                      <i class="fa fa-plus-circle"></i>
                    </button>
                  </td>
                  <td>
                    <input type="text" readonly class="form-control transparent-input"
                           value="{{infoCard['id']}}">
                  </td>
                  <td>
                    <input type="text" readonly class="form-control transparent-input"
                           value="{{infoCard['title']}}">
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="left-side">
          <button class="btn btn-outline-danger" data-dismiss="modal" type="button">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div aria-labelledby="ModalLabel" class="modal fade" id="insertListModal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-select-fields">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h5 class="title title-up modal-title">Lists</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <i class="nc-icon nc-simple-remove"></i></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-12">
              <table class="table table-striped">
                <thead class=" text-primary">
                <tr>
                  <th>Actions</th>
                  <th>id</th>
                  <th>name</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let list of lists">
                  <td>
                    <button type="button" title="Add" class="btn btn-outline-primary btn-icon btn-sm"
                            data-dismiss="modal"
                            (click)="addList(list)">
                      <i class="fa fa-plus-circle"></i>
                    </button>
                  </td>
                  <td>
                    <input type="text" readonly class="form-control transparent-input"
                           value="{{list['id']}}">
                  </td>
                  <td>
                    <input type="text" readonly class="form-control transparent-input"
                           value="{{list['name']}}">
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="left-side">
          <button class="btn btn-outline-danger" data-dismiss="modal" type="button">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div aria-labelledby="ModalLabel" class="modal fade" id="selectRoleModal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h4 class="title title-up modal-title">Insert Role</h4>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><i
          class="nc-icon nc-simple-remove"></i></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-12">
              <table class="table table-striped">
                <thead class=" text-primary">
                <tr>
                  <th>Actions</th>
                  <th>Name</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let row of this.roles" style="cursor: pointer;">
                  <td>
                    <button
                      type="button"
                      data-dismiss="modal"
                      class="btn btn-outline-success btn-icon btn-sm"
                      (click)="selectRole(row)">
                      <i class="fa fa-plus"></i>
                    </button>
                  </td>
                  <td>
                    <input type="text" readonly class="form-control transparent-input"
                           value="{{row['name']}}">
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="left-side">
          <button class="btn btn-outline-danger" data-dismiss="modal" type="button">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
