<div class="row formnav">
  <div class="col-sm-12">
    <div class="pull-left">
      <div class="col-12">
        <h3 style="margin-top: 20px;margin: 0px;margin-top: 10px;">
          <i class="fa fa-cogs" style="padding-right: 5px;"></i>
          Data Transfer
        </h3>
        <p style=" margin-bottom: 5px;"> Data Transfer List </p>
      </div>
    </div>
    <div class="pull-right">
      <table>
        <tr>
          <td style="padding-top: 19px;padding-right: 10px;">
            <input #fileUploader
                   (change)="handleFileInput($event)"
                   accept=".sofia"
                   style="display: none;"
                   type="file">
            <div class="form-group" title="Import Data File" style="min-width: 350px;">
              <div class="input-group input-group-selector no-border">
                <div (click)="fileUploader.click()"
                     class="input-group-prepend">
                 <span class="input-group-text">
                    <i class="fas fa-upload"></i>
                 </span>
                </div>
                <input (click)="fileUploader.click()"
                       class="form-control"
                       readonly
                       type="text"
                       value="{{this?.filename}}">
                <div (click)="clearFile()" class="input-group-append">
                 <span class="input-group-text input-group-text-rm">
                    <i class="fa fa-window-close"></i>
                 </span>
                </div>
              </div>
            </div>
          </td>
          <td>
            <button (click)="openNewPage()" class="btn btn-outline-primary">
              <i class="fa fa-plus-circle"></i> New
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="row form-area">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-12">
            <div class="pull-left">
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead class=" text-primary">
          <tr>
            <th class="text-left">Actions</th>
            <th>id</th>
            <th>Name</th>
            <th>Modified On</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngIf="tableData == undefined || tableData.length === 0 ">
            <td class="empty-table-row" colspan="12">Empty!</td>
          </tr>
          <tr *ngFor="let row of tableData">
            <td>
              <button (click)="openPage( row['id'])" class="btn btn-outline-success btn-icon btn-sm" title="Edit"
                      type="button">
                <i class="fa fa-pencil-alt"></i>
              </button>
              <div #myDrop="ngbDropdown" class="d-inline-block" ngbDropdown
                   style="margin-top: 4px;">
                <button (click)="myDrop.open();"
                        class="btn btn-outline-default btn-icon btn-sm"
                        title="More">
                  <i class="fa fa-ellipsis-v"></i>
                </button>
                <div ngbDropdownMenu>
                  <button (click)="delete(row)"
                          class="text-danger menu-button"
                          ngbDropdownAnchor>
                    <i class="fa fa-times"></i> Delete
                  </button>
                  <div ngbDropdownAnchor class="dropdown-divider"></div>
                  <button (click)="export(row['id'], row['name'])"
                          class="text-success menu-button"
                          ngbDropdownAnchor>
                    <i class="fas fa-download"></i> Export
                  </button>
                </div>
              </div>

            </td>
            <td>
              <input [(ngModel)]="row['id']" class="form-control transparent-input" readonly type="text">
            </td>
            <td>
              <input [(ngModel)]="row['name']" class="form-control transparent-input" readonly type="text">
            </td>
            <td>
              <input [(ngModel)]="row['modifiedOn']" class="form-control transparent-input" readonly type="text">
            </td>

          </tr>

          </tbody>
        </table>
      </div>


    </div>
  </div>
</div>




