<div class="modal-header">
  <h4 class="title title-up modal-title" style="margin: 0;">Remove Element</h4>
  <button type="button" class="btn" style="cursor: default"></button>
</div>
<div class="modal-body">
  <p>The selected element will be removed permanently. Are you Sure ?</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-success " (click)="passBack()" >
     Yes
  </button>
  <button type="button" class="btn btn-outline-danger " (click)="dismiss()" >
     No
  </button>
</div>
