
<div class="input-group input-group-alternative">

    <div class="input-group-prepend">
      <span *ngIf="this.editable" #dateIcon (click)="ngbDatepickerIdentifier.toggle()" class="input-group-text"><i class="fa fa-calendar"></i></span>
      <span *ngIf="!this.editable" class="input-group-text"><i class="fa fa-calendar"></i></span>
    </div>

  <input
    hidden
    ngbDatepicker
    [dayTemplate]="t"
    [autoClose]="true"
    (dateSelect)="onNgbDatepickerSelection($event)"
    #ngbDatepickerIdentifier="ngbDatepicker"
    [readonly]="!this.editable"
    (focus)="focusTriggered($event)"
  >

  <input
    [specialCharacters]="[ '/' ,']' , '\\' ]"
    mask="{{convertedMask}}"
    class="form-control {{fieldClass}} ctrl-field"
    placeholder="{{mask}}"
    [(ngModel)]="model"
    [readonly]="!this.editable"
    (keydown)="onKeyDownEvent($event)"
    (focus)="focusTriggered($event)"
    (focusout)="onFocusOut()"
    (click)="eventOccuredActions('click',$event)"
    (change)="eventOccuredActions('change',$event)"
    (focus)="eventOccuredActions('focus',$event)"
    (focusout)="eventOccuredActions('focusout',$event)"
    (drag)="eventOccuredActions('drag',$event)"
    (dragend)="eventOccuredActions('dragend',$event)"
    (mousemove)="eventOccuredActions('mousemove',$event)"
    (mouseout)="eventOccuredActions('mouseout',$event)"
    (mouseover)="eventOccuredActions('mouseover',$event)"
    (mouseup)="eventOccuredActions('mouseup',$event)"
    (resize)="eventOccuredActions('resize',$event)">

  <ng-template #t let-date="date" let-focused="focused">
            <span class="custom-day">
            {{ date.day }}
            </span>
  </ng-template>

</div>

