<div class="row formnav" *ngIf="showTopHeader()">
  <div class="col-sm-12">
    <div class="pull-left">
      <div class="col-12">
        <h3 style="margin-top: 20px;margin: 0px;margin-top: 10px;">
          <i class="fa fa {{this.listDto.headerIcon}}" style="padding-right: 5px;"></i>{{this.listDto.headerTitle}}
        </h3>
        <p style="margin-bottom: 0px;" [innerHTML]="this.listDto.headerDescription"></p>
      </div>
    </div>
    <div class="pull-right">
      <button *ngFor="let actionButton of this.listDto?.listActionButtons"
              (click)="headerActionButtonClicked(actionButton);"
              class="btn {{actionButton.cssClass}}"
              style="margin-top: 0px;">
        <i class="fa {{actionButton.icon}}"></i>
        {{actionButton.description}}
      </button>
    </div>
  </div>
</div>

<div class="tab-pane form-area" [ngClass]="{'is-hidden': !this.listBodyVisible }">
  <div class="row">
    <div class="col">
      <div class="row" style="padding-right: 10px;padding-left: 10px;">

        <!-- Fields Selection Area -->
        <div [hidden]="this.hideSideMenus" class="col-md-2 col-sm-12 col-12 top-row-padding">
          <div class="card top-card">
            <div class="card-header">
              <div class="row formnav">
                <div class="col-12">
                  <div class="pull-left">
                    <h5 class="card-title" style="margin-bottom: 0px;">
                      <i class="fas fa-stream"></i>
                      Analysis Fields
                    </h5>
                    <p style="margin-bottom: 21px;" ></p>
                  </div>
                  <div class="pull-right">
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row row-small-padding">
                <div class="col-md-auto col-no-padding" *ngFor="let item of this.listDto.listComponentColumnFieldList">
                  <div class="btn-group">
                    <button type="button"
                            class="btn left-group-button btn-outline-default active-header side-field-button">
                      <i class="fa fa-circle-dot"></i>
                    </button>

                    <button
                      class="btn left-group-button btn-outline-default side-field-button"
                      style="border: 1px solid #66615b !important">
                      {{item.description}}
                    </button>
                  </div>
                </div>
              </div>

              <ul *ngIf="groupContent?.length > 0">
                <ng-template #recursiveList let-list>
                  <li *ngFor="let item of list">
                    <ng-container *ngIf="(item['value']==null?'':item['value']) != ''">
                      <div class="">
                        <button *ngIf="groupHasChildred(item['children'])" (click)="updateVisibility(item)"
                                type="button"
                                class="btn left-group-button btn-outline-info active-header"
                                style="padding: 2px;font-size: 10px;">
                          <i class="fa fa-plus"></i>
                        </button>
                        <button *ngIf="!groupHasChildred(item['children'])"
                                type="button"
                                class="btn left-group-button btn-outline-default active-header"
                                style="padding: 2px;font-size: 10px;border: 2px solid #959494 !important; color: #959494;">
                          <i class="fas fa-circle"
                             style="color: #959494;"
                          ></i>
                        </button>
                        <button (click)="filterGroup(item)"
                                class="btn left-group-button btn-outline-default"
                                style="border: 1px solid #66615b !important">
                          {{item['value']}}
                        </button>
                      </div>
                      <ul *ngIf="item['children'] != undefined && item['childrenVisible']">
                        <ng-container
                          *ngTemplateOutlet="recursiveList; context:{ $implicit: item['children'] }">
                        </ng-container>
                      </ul>
                    </ng-container>
                  </li>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="recursiveList; context:{ $implicit: groupContent}"></ng-container>
              </ul>

              <div class="row"
                   *ngIf="hasSelections(this.listDto.listComponentLeftGroupFieldList)">
                <div class="col-12">
                  <h6 class="float-left"> Selections
                    <span (click)="clearFilterGroup()"
                          style="color: #ff733e;cursor: pointer;">
                      <i class="fas fa-trash"></i> Clear
                    </span>
                  </h6>
                </div>
              </div>

              <div class="row" style="padding-right: 15px;padding-left: 15px;">
                <ng-container *ngFor="let item of this.listDto?.listComponentLeftGroupFieldList; first as isFirst">
                  <div class="col-md-auto" style="padding-left: 0px;padding-right: 0px;"
                       *ngIf="(item.fieldValue==null?'':item.fieldValue) != '' && !isFirst">
                    <i class="fas fa-angle-double-right" style="padding-top: 8px;"></i>
                  </div>
                  <div class="col-md-auto" style="padding-left: 0px;padding-right: 0px;padding-top: 2px;"
                       *ngIf="(item.fieldValue==null?'':item.fieldValue) != ''">
                    <div class="text-center">
                      <button (click)="filterGroupOnField(item)" class="btn left-group-button btn-outline-default"
                              style="border: 1px solid #66615b !important">
                        {{item.fieldValue}}
                      </button>
                    </div>
                  </div>
                </ng-container>
              </div>

            </div>
          </div>
        </div>

        <!-- Top Group -->
        <div [hidden]="this.hideSideMenus" style="margin-bottom: 10px;" class="col top-row-padding">
          <div class="card top-card">
            <div class="card-header">
              <div class="row formnav">
                <div class="col-12">
                  <div class="pull-left">
                    <h5 class="card-title" style="margin-bottom: 0px;">
                      <i class="fas {{this.listDto.icon}}"></i>
                      {{this.listDto.title}}
                    </h5>
                    <p style=" margin-bottom: 0px;" [innerHTML]="this.listDto.description"></p>
                  </div>
                  <div class="pull-right">
<!--                    <button-->
<!--                      title="Settings"-->
<!--                      class="btn btn-icon btn-sm btn-outline-info">-->
<!--                      <i class="fa fa-gear"></i>-->
<!--                    </button>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row row-small-padding">
                <div class="col-md-auto col-no-padding" *ngFor="let item of this.listDto.listComponentTopGroupFieldList">


                  <div class="btn-group">
                    <button type="button"
                            (click)="setSelectedListComponentField(item)"
                            data-target="#filterRowValuesModal"
                            data-toggle="modal"
                            class="btn left-group-button btn-outline-info active-header side-field-button"
                            [ngClass]="{'btn-outline-info': !item.isFullChecked,'btn-outline-default': item.isFullChecked  }">
                      <i class="fa fa-filter"></i>
                    </button>
                    <button
                      class="btn left-group-button btn-outline-default side-field-button"
                      style="border: 1px solid #66615b !important">
                      {{item.description}}
                    </button>
                  </div>


                </div>
              </div>

              <ul *ngIf="groupContent?.length > 0">
                <ng-template #recursiveList let-list>
                  <li *ngFor="let item of list">
                    <ng-container *ngIf="(item['value']==null?'':item['value']) != ''">
                      <div class="">
                        <button *ngIf="groupHasChildred(item['children'])" (click)="updateVisibility(item)"
                                type="button"
                                class="btn left-group-button btn-outline-info active-header"
                                style="padding: 2px;font-size: 10px;">
                          <i class="fa fa-plus"></i>
                        </button>
                        <button *ngIf="!groupHasChildred(item['children'])"
                                type="button"
                                class="btn left-group-button btn-outline-default active-header"
                                style="padding: 2px;font-size: 10px;border: 2px solid #959494 !important; color: #959494;">
                          <i class="fas fa-circle"
                             style="color: #959494;"
                          ></i>
                        </button>
                        <button (click)="filterGroup(item)"
                                class="btn left-group-button btn-outline-default"
                                style="border: 1px solid #66615b !important">
                          {{item['value']}}
                        </button>
                      </div>
                      <ul *ngIf="item['children'] != undefined && item['childrenVisible']">
                        <ng-container
                          *ngTemplateOutlet="recursiveList; context:{ $implicit: item['children'] }">
                        </ng-container>
                      </ul>
                    </ng-container>
                  </li>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="recursiveList; context:{ $implicit: groupContent}"></ng-container>
              </ul>

              <div class="row"
                   *ngIf="hasSelections(this.listDto.listComponentLeftGroupFieldList)">
                <div class="col-12">
                  <h6 class="float-left"> Selections
                    <span (click)="clearFilterGroup()"
                          style="color: #ff733e;cursor: pointer;">
                      <i class="fas fa-trash"></i> Clear
                    </span>
                  </h6>
                </div>
              </div>

              <div class="row" style="padding-right: 15px;padding-left: 15px;">
                <ng-container *ngFor="let item of this.listDto?.listComponentLeftGroupFieldList; first as isFirst">
                  <div class="col-md-auto" style="padding-left: 0px;padding-right: 0px;"
                       *ngIf="(item.fieldValue==null?'':item.fieldValue) != '' && !isFirst">
                    <i class="fas fa-angle-double-right" style="padding-top: 8px;"></i>
                  </div>
                  <div class="col-md-auto" style="padding-left: 0px;padding-right: 0px;padding-top: 2px;"
                       *ngIf="(item.fieldValue==null?'':item.fieldValue) != ''">
                    <div class="text-center">
                      <button (click)="filterGroupOnField(item)" class="btn left-group-button btn-outline-default"
                              style="border: 1px solid #66615b !important">
                        {{item.fieldValue}}
                      </button>
                    </div>
                  </div>
                </ng-container>
              </div>

            </div>
          </div>
        </div>

      </div>

      <div class="row" style="padding-right: 10px;padding-left: 10px;">

        <!-- Left Group & Filters -->
        <div [hidden]="this.hideSideMenus" *ngIf="isGroupContentDivVisible() || this.listDto.filterVisible" class="col-md-2 col-sm-12 col-12 entity-parent-col" style="padding-right: 5px;padding-left: 5px;">
          <div class="row" >

            <!-- Left Group -->
            <div *ngIf="isGroupContentDivVisible()" style="margin-bottom: 10px;" class="col-12">
              <div class="card">
                <div class="card-header">
                  <div class="row formnav">
                    <div class="col-12">
                      <div class="pull-left">
                        <h5 class="card-title" style="margin-bottom: 0px;">
                          <i class="fas fa-stream"></i>
                          {{this.listDto.groupingTitle}}
                        </h5>
                        <p style="margin-bottom: 0px;" [innerHTML]="this.listDto.groupingDescription"></p>
                      </div>
                      <div class="pull-right">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-12" *ngFor="let item of this.listDto.listComponentLeftGroupFieldList">

                        <div class="btn-group">
                          <button type="button"
                                  (click)="setSelectedListComponentField(item)"
                                  data-target="#filterRowValuesModal"
                                  data-toggle="modal"
                                  class="btn left-group-button btn-outline-info active-header side-field-button"
                                  [ngClass]="{'btn-outline-info': !item.isFullChecked,'btn-outline-default': item.isFullChecked  }">
                            <i class="fa fa-filter"></i>
                          </button>
                          <button
                            class="btn left-group-button btn-outline-default side-field-button"
                            style="border: 1px solid #66615b !important">
                            {{item.description}}
                          </button>
                        </div>

                    </div>
                  </div>

                  <ul *ngIf="groupContent?.length > 0">
                    <ng-template #recursiveList let-list>
                      <li *ngFor="let item of list">
                        <ng-container *ngIf="(item['value']==null?'':item['value']) != ''">
                          <div class="">
                            <button *ngIf="groupHasChildred(item['children'])" (click)="updateVisibility(item)"
                                    type="button"
                                    class="btn left-group-button btn-outline-info active-header"
                                    style="padding: 2px;font-size: 10px;">
                              <i class="fa fa-plus"></i>
                            </button>
                            <button *ngIf="!groupHasChildred(item['children'])"
                                    type="button"
                                    class="btn left-group-button btn-outline-default active-header"
                                    style="padding: 2px;font-size: 10px;border: 2px solid #959494 !important; color: #959494;">
                              <i class="fas fa-circle"
                                 style="color: #959494;"
                              ></i>
                            </button>
                            <button (click)="filterGroup(item)"
                                    class="btn left-group-button btn-outline-default"
                                    style="border: 1px solid #66615b !important">
                              {{item['value']}}
                            </button>
                          </div>
                          <ul *ngIf="item['children'] != undefined && item['childrenVisible']">
                            <ng-container
                              *ngTemplateOutlet="recursiveList; context:{ $implicit: item['children'] }">
                            </ng-container>
                          </ul>
                        </ng-container>
                      </li>
                    </ng-template>
                    <ng-container
                      *ngTemplateOutlet="recursiveList; context:{ $implicit: groupContent}"></ng-container>
                  </ul>

                  <div class="row"
                       *ngIf="hasSelections(this.listDto.listComponentLeftGroupFieldList)">
                    <div class="col-12">
                      <h6 class="float-left"> Selections
                        <span (click)="clearFilterGroup()"
                              style="color: #ff733e;cursor: pointer;">
                      <i class="fas fa-trash"></i> Clear
                    </span>
                      </h6>
                    </div>
                  </div>

                  <div class="row" style="padding-right: 15px;padding-left: 15px;">
                    <ng-container *ngFor="let item of this.listDto?.listComponentLeftGroupFieldList; first as isFirst">
                      <div class="col-md-auto" style="padding-left: 0px;padding-right: 0px;"
                           *ngIf="(item.fieldValue==null?'':item.fieldValue) != '' && !isFirst">
                        <i class="fas fa-angle-double-right" style="padding-top: 8px;"></i>
                      </div>
                      <div class="col-md-auto" style="padding-left: 0px;padding-right: 0px;padding-top: 2px;"
                           *ngIf="(item.fieldValue==null?'':item.fieldValue) != ''">
                        <div class="text-center">
                          <button (click)="filterGroupOnField(item)" class="btn left-group-button btn-outline-default"
                                  style="border: 1px solid #66615b !important" [innerHTML]="item.fieldValue">
                          </button>
                        </div>
                      </div>
                    </ng-container>
                  </div>

                </div>
              </div>
            </div>

            <!-- Filters -->
            <div *ngIf="this.listDto?.filterVisible" style="margin-bottom: 10px;" class="col-12">
              <div class="card">
                <div class="card-header">
                  <div class="row formnav">
                    <div class="col-12">
                      <div class="pull-left">
                        <h5 class="card-title" style="margin-bottom: 0px;">
                          <i class="fas fa-filter"></i>
                          Filters
                        </h5>
                        <p style=" margin-bottom: 5px;"> Select & <b>Refine Seach</b></p>
                      </div>
                      <div class="pull-right">
                        <button
                          (click)="getListResultData();"
                          title="Filter"
                          class="btn btn-icon btn-sm btn-outline-success">
                          <i class="fa fa-filter"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row">
                    <ng-container *ngFor="let row of this.listDto?.listComponentFilterFieldList">
                      <ng-container *ngIf="row.type === 'varchar' || row.type === 'text' ">
                        <div class="{{row.bclass}}  L{{listDto.id}}-{{this.listDto.code}}-{{row.code}} filter-col"
                             [ngClass]="{'is-hidden': !row.visible}"
                             style="{{row.css}}">
                          <div class="form-group">
                            <div [ngClass]="{'text-danger': row.required}">{{row.description}}</div>
                            <input type="text" class="form-control" [(ngModel)]="row.fieldValue">
                          </div>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="row.type === 'double' ">
                        <div class="{{row.bclass}} L{{listDto.id}}-{{this.listDto.code}}-{{row.code}} filter-col"
                             [ngClass]="{'is-hidden': !row.visible}"
                             style="{{row.css}}">
                          <div class="form-group">
                            <div [ngClass]="{'text-danger': row.required}" class="text-danger">{{row.description}}</div>
                            <app-numeric-input [(inputValue)]="row.fieldValue" [mask]="'0*.0000'"
                                               [editable]="row.editable"></app-numeric-input>
                          </div>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="row.type === 'int' || row.type === 'bigint'">
                        <div class="{{row.bclass}} L{{listDto.id}}-{{this.listDto.code}}-{{row.code}} filter-col"
                             [ngClass]="{'is-hidden': !row.visible}"
                             style="{{row.css}}">
                          <div class="form-group">
                            <div [ngClass]="{'text-danger': row.required}">{{row.description}}</div>
                            <app-numeric-input readonly [(inputValue)]="row.fieldValue" [mask]="'0*'"
                                               [editable]="row.editable"></app-numeric-input>

                          </div>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="row.type === 'list'">
                        <div class="{{row.bclass}} L{{listDto.id}}-{{this.listDto.code}}-{{row.code}} filter-col"
                             [ngClass]="{'is-hidden': !row.visible}"
                             style="{{row.css}}">
                          <div class="form-group">
                            <div [ngClass]="{'text-danger': row.required}">{{row.description}}</div>
                            <app-list-selector
                              [editable]="row.editable"
                              [command]="row.editor"
                              [defaultValue]="row.defaultValue"
                              [displayValue]="row.displayValue"
                              [(value)]="row.fieldValue"></app-list-selector>
                          </div>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="row.type === 'datetime'">
                        <div class="{{row.bclass}} L{{listDto.id}}-{{this.listDto.code}}-{{row.code}} filter-col"
                             [ngClass]="{'is-hidden': !row.visible}"
                             style="{{row.css}}">
                          <div class="form-group">
                            <div [ngClass]="{'text-danger': row.required}">{{row.description}}</div>
                            <app-date-picker [(inputDate)]="row.fieldValue"
                                             [mask]="'dd/MM/yyyy'"
                                             [editable]="row.editable">
                            </app-date-picker>
                          </div>
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- List -->
        <div class=" col-sm-12 col-12"
             [ngClass]="{'col-md-12': this.hideSideMenus,'col-md-10': !this.hideSideMenus }"
             style="padding-right: 5px;padding-left: 5px;" >
          <div class="card">
            <div  class="card-body card-body-overflow">
              <button *ngIf="isGroupContentDivVisible()" type="button"
                      style="position: absolute; top: 15px; left: 17px;display: none;"
                      class="btn btn-outline-default btn-icon btn-sm"><i class="fas fa-stream"></i>
              </button>
              <div class="container" style="padding: 0px; margin: 0px;">
                  <table style="margin-bottom: 0rem;">
                <tbody class="list-table-body list-table-body-{{this.listDto.id}}">

                <!-- Top Section -->
                <tr *ngFor="let arrayLine of this.topViewArrayLines; let arrayLineIndex = index">
                  <td *ngIf="arrayLineIndex == 0"
                      valign="top"
                      [attr.colspan]="this.topLeftColspan"
                      [attr.rowspan]="this.topLeftRowspan">
                    <button
                      [hidden]="this.hideSideMenus"
                      title="Show Side Menus"
                      (click)="showHideSideMenus();"
                      class="btn btn-icon btn-sm btn-outline-default side-toggle">
                      <i class="fa fa-up-right-and-down-left-from-center"></i>
                    </button>
                    <button
                      [hidden]="!this.hideSideMenus"
                      title="Hide Side Menus"
                      (click)="showHideSideMenus();"
                      class="btn btn-icon btn-sm btn-outline-default side-toggle">
                      <i class="fa fa-down-left-and-up-right-to-center"></i>
                    </button>
                  </td>
                  <td class="top-cells {{row.class}}"
                      style="{{row.css}}"
                      *ngFor="let row of arrayLine"
                      [attr.colspan]="row.colspan"
                      [attr.rowspan]="row.rowspan"
                      (click)="pivotCellClick(row);">
                    <button *ngIf="row.isBottomBranch != true && row.isVisible"
                            (click)="editBranchVisibility(row);refreshPivot();"
                            type="button"
                            class="btn btn-outline-info btn-expand" >
                      <i class="fa fa-minus"></i>
                    </button>
                    <button *ngIf="row.isBottomBranch != true && !row.isVisible"
                            (click)="editBranchVisibility(row);refreshPivot();"
                            type="button"
                            class="btn btn-outline-info btn-expand" >
                      <i class="fa fa-plus"></i>
                    </button>
                    <span style="padding-left: 2px" [innerHTML]="row.displayValue"></span>
                  </td>
                </tr>

                <!-- Column Headers Section -->
                <tr>
                  <ng-container *ngFor='let in of counter(totalTopCols) ;let i = index'>
                    <td class="col-header-cells"
                        [attr.colspan]="1"
                        [attr.rowspan]="1"
                        *ngFor="let cfl of this.listDto.listComponentColumnFieldList" >
                      {{cfl.description}}
                    </td>
                  </ng-container>
                </tr>

                <!-- Left Section -->
                <tr *ngFor="let arrayLine of this.leftViewArrayLines">
                  <ng-container>
                    <td
                      *ngFor="let row of arrayLine"
                      [ngClass]="{'left-cells': row.type == 'group','value-cells': row.type == 'value' }"
                      class="{{row.class}}"
                      style="{{row.css}}"
                      [attr.rowspan]="row.rowspan"
                      [attr.colspan]="row.colspan"
                      (click)="pivotCellClick(row);">
                      <button *ngIf="row.isBottomBranch != true && row.type == 'group' && row.isVisible"
                              (click)="editBranchVisibility(row);refreshPivot();"
                              type="button"
                              class="btn btn-outline-info btn-expand" >
                        <i class="fa fa-minus"></i>
                      </button>
                      <button *ngIf="row.isBottomBranch != true && row.type == 'group' && !row.isVisible"
                              (click)="editBranchVisibility(row);refreshPivot();"
                              type="button"
                              class="btn btn-outline-info btn-expand" >
                        <i class="fa fa-plus"></i>
                      </button>
                      <span style="padding-left: 2px" *ngIf="row.type != 'empty-value'" [innerHTML]="row.displayValue"></span>
                    </td>
                  </ng-container>
                </tr>
                </tbody>
              </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div></div></div>


<div aria-labelledby="ModalLabel" class="modal fade" id="filterRowValuesModal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" *ngIf="this.selectedListComponentField != null">
      <div class="modal-header justify-content-center">
        <h4 style="margin-top: 0px;" class="title title-up modal-title">
          <i class="fa fa-filter"></i>
          {{this.selectedListComponentField.description}} Values</h4>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><i
          class="nc-icon nc-simple-remove"></i></button>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <table class="table table-striped table-fixed">
                <thead class=" text-primary">
                <tr>
                  <th></th>
                  <th>Name</th>
                </tr>
                <tr>
                  <th>
                    <label *ngIf="!this.selectedListComponentField.isFullChecked" class="form-check-label">
                      <label class="checkbox" style="margin-bottom: 0px;margin-top: 0px;">
                        <input type="checkbox"  (change)="setAllFilterFieldsChecked($event, this.selectedListComponentField)" >
                        <span class="info"></span>
                      </label>
                      <span style="position:absolute;top: 28px;">Select All</span>
                    </label>

                    <label *ngIf="this.selectedListComponentField.isFullChecked"  class="form-check-label">
                      <label class="checkbox checkbox-disabled" style="margin-bottom: 0px;margin-top: 0px;">
                        <input type="checkbox" checked disabled="disabled"  >
                        <span class="info"></span>
                      </label>
                      <span style="position:absolute;top: 28px;">Select All</span>
                    </label>

                  </th>
                  <th>
                    <input type="text" class="ctrl-field form-control" (keydown)="columnFilterFieldSearch($event)" [(ngModel)]="this.filterFieldSearch">
                  </th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let filterField of returnVisibleFilterFields(this.selectedListComponentField.filterFields)"
                    style="cursor: pointer;">
                  <td>
                      <label class="form-check-label">
                        <label class="checkbox" style="margin-bottom: 0px;margin-top: 0px;">
                          <input type="checkbox" (change)="refreshIsCheckedFlag($event, this.selectedListComponentField)" [(ngModel)]="filterField.isChecked" >
                          <span class="info"></span>
                        </label>
                      </label>
                  </td>
                  <td [innerHTML]="filterField.displayValue">
                  </td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <div class="left-side">
          <button class="btn btn-outline-default" (click)="setAllFilterFieldsChecked($event, this.selectedListComponentField)"  type="button">Select All</button>
          <button class="btn btn-outline-info"  (click)="refreshPivot()" data-dismiss="modal" type="button">Apply</button>
        </div>
      </div>
    </div>
  </div>
</div>
