.side-field-button{
  margin: 2px;
  padding: 2px;
  font-size: 10px;
  border: 1px solid #51bcda !important;
}

.col-no-padding{
  padding: 0px;
}

.row-small-padding{
  padding-left: 15px;
  padding-left: 15px;
}

.top-row-padding{
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.top-card{
  height: 100%;
}

.top-cells{
  cursor: pointer;
  border: 1px solid #b3d7ff;
  background-color: #f7f7f7;
  padding: 3px;
}

.left-cells{
  cursor: pointer;
  border: 1px solid #b3d7ff;
  background-color: #f7f7f7;
  padding: 3px;
}

.value-cells{
  border: 1px solid #b3d7ff;
  padding: 3px;
}

.col-header-cells{
  cursor: pointer;
  border: 1px solid #b3d7ff;
  background-color: #d3eeff;
  padding: 3px;
}

.btn-expand {
  padding: 1px;
  font-size: 9px;
  border: 1px solid #51bcda !important;
  color: #51bcda;
  margin: 0px;
  margin-bottom: 2px;
}

.side-toggle {
  margin-top: 0px !important;
  margin-right: 13px !important;
  height: 1.675rem !important;
  min-width: 1.675rem !important;
  width: 1.675rem !important;
}

.side-toggle i {
  font-size: 10px !important;
}

.card-body-overflow{
  overflow: auto!important;
}

.table th, .table td {
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 12px;
  border-top: 0px solid #dee2e6;
}

.table {
  margin-bottom: 1px;
  margin-top: 3px;
}

.table-fixed tbody {
  max-height: 400px;
  overflow-y: auto;
}

@keyframes check {0% {height: 0;width: 0;}
  25% {height: 0;width: 10px;}
  50% {height: 20px;width: 10px;}
}
.checkbox-disabled{ background-color: #bbb !important;}
.checkbox{background-color:#fff;display:inline-block;height:28px;margin:4px;width:28px;border-radius:4px;border:1px solid #ccc;cursor: pointer;}
.checkbox span{display:block;height:28px;position:relative;width:28px;padding:0}
.checkbox span:after{-moz-transform:scaleX(-1) rotate(135deg);-ms-transform:scaleX(-1) rotate(135deg);-webkit-transform:scaleX(-1) rotate(135deg);transform:scaleX(-1) rotate(135deg);-moz-transform-origin:left top;-ms-transform-origin:left top;-webkit-transform-origin:left top;transform-origin:left top;border-right:4px solid #fff;border-top:4px solid #fff;content:'';display:block;height:20px;left:3px;position:absolute;top:15px;width:10px}
.checkbox span:hover:after{border-color:#999}
.checkbox input{display:none}
.checkbox input:checked + span:after{-webkit-animation:check .8s;-moz-animation:check .8s;-o-animation:check .8s;animation:check .8s;border-color:#555}
.checkbox input:checked + .default:after{border-color:#444}
.checkbox input:checked + .primary:after{border-color:#2196F3}
.checkbox input:checked + .success:after{border-color:#8bc34a}
.checkbox input:checked + .info:after{border-color:#3de0f5}
.checkbox input:checked + .warning:after{border-color:#FFC107}
.checkbox input:checked + .danger:after{border-color:#f44336}

.table-fixed tbody {
  width: 100%;
}

.table-fixed thead,
.table-fixed tbody {
  display: block;
}

.table-fixed tr {
  display: flex;
  flex-wrap: wrap;
}

.table-fixed th,
.table-fixed td {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: 1px;
}

.table-fixed .sortable:after {
  content: "\f0dc";
  position: relative;
  bottom: 1px;
  display: inline-block;
  right: -7px;
  font-family: FontAwesome;
  opacity: 0.4;
  font-size: 11px;
}

.table-fixed tbody {
  max-height: 400px;
  overflow-y: auto;
}
