<div class="input-group input-group-alternative">
  <div class="input-group-prepend white-field">
                <span (click)="focusInputField(instance)" class="input-group-text white-field">
                  <i class="fa fa-caret-square-down" style="opacity: 0.8;color: #00bbbf !important;"></i>
                </span>
  </div>
  <input type="text"
         #instance
         (focus)="onFocus($event)"
         (keydown)="eventOccuredActions('keydown',$event)"
         (keyup)="eventOccuredActions('keyup',$event)"
         (dblclick)="eventOccuredActions('dblclick',$event)"
         (click)="eventOccuredActions('click',$event)"
         (change)="eventOccuredActions('change',$event)"
         (focus)="eventOccuredActions('focus',$event)"
         (focusout)="eventOccuredActions('focusout',$event)"
         (focusout)="focusoutTriggered(instance,$event)"
         (drag)="eventOccuredActions('drag',$event)"
         (dragend)="eventOccuredActions('dragend',$event)"
         (mousemove)="eventOccuredActions('mousemove',$event)"
         (mouseout)="eventOccuredActions('mouseout',$event)"
         (mouseover)="eventOccuredActions('mouseover',$event)"
         (mouseup)="eventOccuredActions('mouseup',$event)"
         (resize)="eventOccuredActions('resize',$event)"
         class="form-control white-field"
         (selectItem)="updateModel($event)"
         [ngbTypeahead]="search"
         [inputFormatter]="formatter"
         [resultFormatter]="formatter"
         [resultTemplate]="rt"
         [editable]='false'>
  <div class="input-group-append">
        <span *ngIf="this.model == null" style="padding: 10px 10px 10px 0;"
              class="input-group-text input-group-text-rm">
           <i class="fa fa-window-close" style="opacity: 0.8;color: #6e6d6d !important;"></i>
    </span>

    <span *ngIf="this.model != null" style="padding: 10px 10px 10px 0;"
          (click)="clear(instance)"
          class="input-group-text input-group-text-rm">
           <i class="fa fa-window-close" style="opacity: 0.8;color: #ff0018 !important;"></i>
    </span>
  </div>
</div>

<ng-template #rt let-r="result" let-t="term" style="background-color: #00bbff !important;">
  <i class="far fa-dot-circle"></i>&nbsp;
  <ngb-highlight [result]="r.display" [term]="t"></ngb-highlight>
</ng-template>
