<div class="row formnav">
  <div class="col-sm-12">
    <div class="numbers pull-left">  </div>
    <div class="pull-left">
      <div class="col-12">
        <h3 style="margin-top: 20px;margin: 0px;margin-top: 10px;">
          <i class="{{dto?.timelineDTO?.icon}}" style="padding-right: 5px;"></i>
             {{dto?.timelineDTO?.title}}
        </h3>
        <p style=" margin-bottom: 5px;"> {{dto?.timelineDTO?.description}} </p>
      </div>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-timeline card-plain">
        <div class="card-body">
          <ul class="timeline">
            <ng-container *ngFor="let content of dto?.resultList" >
              <li [ngClass]="{ 'timeline-inverted': !content?.left_side}">
                <div class="timeline-badge" [style.background-color] ="content?.color">
                  <i class="{{content.icon}}"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <span class="badge badge-pill" [style.background-color] ="content?.color" style="color: white">{{content?.title}}</span>
                  </div>
                  <div class="timeline-body">
                    <p>{{content?.description}}</p>
                  </div>
                  <h6 (click)="minTitleClicked(content?.nav)" [innerHTML]="content?.min_title"></h6>
                </div>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


