
<div class="row formnav">
  <div class="col-sm-12">
    <div class="pull-left">
      <div class="col-12">
        <h3 style="margin-top: 20px;margin: 0px;margin-top: 10px;">
          <i class="fa {{timelineDTO?.icon}}" style="padding-right: 5px;"></i>
             {{timelineDTO?.title}}
        </h3>
        <p style=" margin-bottom: 5px;"> {{timelineDTO?.description}} </p>
      </div>
    </div>
    <div class="pull-right">
      <div class="row filter-row">
        <ng-container *ngFor="let filter of this?.timelineDTO?.filterList">
          <div *ngIf="filter.type === 'list'" class="form-group col" style="min-width: 300px;">
            <app-list-selector
              (eventOccured)="fieldEventOccurred($event)"
              [(value)]="filter.fieldValue"
              [command]="filter.editor"
              [defaultValue]="filter.defaultValue"
              [displayValue]="filter.displayValue"
              [editable]="filter.editable"></app-list-selector>
            <div class="category">{{filter.description}}</div>
          </div>
        </ng-container>

      </div>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-timeline card-plain">
        <div class="card-body">
          <ul class="timeline">
            <ng-container *ngFor="let content of resultList" >
              <li [ngClass]="{ 'timeline-inverted': !content?.left_side}">
                <div class="timeline-badge" [style.background-color] ="content?.color">
                  <i class="fa {{content.icon}}"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <span class="badge badge-pill" [style.background-color] ="content?.color" style="color: white">{{content?.title}}</span>
                  </div>
                  <div class="timeline-body">
                    <p [innerHTML]="content?.description"></p>
                  </div>
                  <h6 class="min-title" (click)="minTitleClicked(content?.nav)" [innerHTML]="content?.min_title"></h6>
                </div>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
    <div  class="col-md-12">
      <button class="btn next-page-button "
              [disabled]="timelineResponseDTO?.isTheLastPage"
              [ngStyle]="{ 'background-color': timelineResponseDTO?.isTheLastPage ? '#9A9A9A' : 'darkgreen' }"
              (click)="goToTheNextPage()">
        <i class="fa fa-chevron-down"></i>
      </button>
    </div>
  </div>
</div>


