<div class="row formnav">
  <div class="col-sm-12">
    <div class="pull-left">
      <div class="col-12">
        <h3 style="margin-top: 20px;margin: 0px;margin-top: 10px;">
          <i class="fa fa-project-diagram" style="padding-right: 5px;"></i>
          Relationships for <b> {{centralNode.code}} </b>
        </h3>
        <p style=" margin-bottom: 5px;"> Navigate to Relationships, Create New <i class="fa fa-plus-circle"
                                                                                        style="color: #62c58e"></i> or
          <i class="fa fa-times" style="color: #cf0000"></i> Remove Existing </p>
      </div>
    </div>
    <div class="pull-right">
      <button class="btn btn-outline-success header-button" (click)="saveAssetsPositions()">
        <i class="fa fa-crosshairs"></i> Save Positions
      </button>

      <button class="btn btn-outline-primary header-button"
              (click)="navigateToPreviousPage()">
        <i class="fa fa-chevron-left"></i> Back
      </button>
    </div>
  </div>
</div>

<div class="row formnav">
  <div class="col-12 ">
    <div #parentGraphContainer class="graph-container overflow-auto">
      <div #nodeGraphContainer class="central-area"
           style="position:relative;flex: 0 0 100%;max-width: 100%;min-height: calc(100vh - 167px);">

        <div style="position:absolute;top:0px;left:0px;">
          <svg #svgContainer id="ex2" version="1.1" xmlns="http://www.w3.org/2000/svg"
               style="min-height: calc(100vh - 167px);">
            <defs>
              <marker id="arrowhead" markerWidth="4" markerHeight="5.5" refX="0" refY="3.5" orient="auto">
                <polygon points="0 1.5, 2 3.5, 0 5.5"></polygon>
              </marker>
            </defs>

            <svg id="svg-lines">
            </svg>
          </svg>
        </div>

        <div class="card card-stats card-label"
             data-target="#relationshipsModal"
             data-toggle="modal"
             (click)="selectRelNode(relationship)"
             *ngFor="let relationship of relationships" style="{{relationship.cssPosition}}">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <i class="fas fa-pen" style="color: #308f5a;" [ngbTooltip]="changeRelToolTip" ></i>
                <ng-template #changeRelToolTip>
                  <div>Change <i class="fa fa-pen" style="color: #62c58e;font-size: 12px;"></i> Relationship Type.</div>
                </ng-template>
                {{relationship.code}}
              </div>
            </div>
          </div>
        </div>

        <div class="card card-stats {{node.cssClass}}"
             *ngFor="let node of nodes" style="{{node.cssPosition}}"
             draggable="true"
             (dragstart)="onDragStart($event,node)"
             (dragend)="onDragEnd($event)">
          <div class="card-body">

            <div class="row">
              <div class="col-12">
                <div class="pull-right">
                  <div class="numbers">
                    <p class="card-category">{{node.code}}</p>
                    <p class="card-title">{{trimString(node.name)}}</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="card-footer">
            <hr>
            <div class="stats">
              <i class="fas fa-tasks" (click)="openAsset(node.id, node.code)" style="color: #1270b9"
                 [ngbTooltip]="openAssetFormToolTip"></i>
              <i class="fas fa-project-diagram"
                 (click)="navigateToNodeDiagram(node)"
                 style="color: #308f5a"
                 [ngbTooltip]="openAssetInGraphToolTip"></i>
              <ng-template #openAssetInGraphToolTip>
                <div>Open Asset <i class="fa fa-search" style="color: #62c58e;font-size: 12px;"></i> in Relationships Graph <i class="fa fa-project-diagram" style="color: #62c58e;font-size: 12px;"></i>.</div>
              </ng-template>
              <i class="fas fa-times"
                 (click)="selectNode(node)"
                 data-target="#rUSureModal"
                 data-toggle="modal"
                 style="color: #cf0000"
                 [ngbTooltip]="unlinkAssetToolTip"></i>
              <ng-template #unlinkAssetToolTip>
                <div>Unlink <i class="fa fa-unlink" style="color: red;font-size: 12px;"></i>Asset with central asset.</div>
              </ng-template>
            </div>
          </div>
        </div>

        <div class="card central-card card-stats"
             style="{{centralNode.cssPosition}}"
             draggable="true"
             (dragstart)="onDragStart($event,centralNode)"
             (dragend)="onDragEnd($event)">

          <div class="card-body ">
            <div class="row">
              <div class="col-12">
                <div class="pull-right">
                  <div class="numbers">
                    <p class="card-category">{{centralNode.code}}</p>
                    <p class="card-title">{{trimString(centralNode.name)}}</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="card-footer">
            <hr>
            <div class="stats">
              <i class="fas fa-tasks" (click)="openAsset(centralNode.id, centralNode.code)" style="color: #1270b9"
                 [ngbTooltip]="openAssetFormToolTip"></i>
              <ng-template #openAssetFormToolTip>
                <div>Open Asset Form <i class="fa fa-share-square" style="color: #62c58e;font-size: 12px;"></i>in new Window.</div>
              </ng-template>
              <i class="fas fa-plus"
                 (click)="openAssetsListSelector()"
                 style="color: #308f5a"
                 [ngbTooltip]="addAssetRelToolTip"></i>
              <ng-template #addAssetRelToolTip>
                <div>Add New <i class="fa fa-plus-circle" style="color: #62c58e;font-size: 12px;"></i> Related Asset.</div>
              </ng-template>
              <i class="fas fa-crosshairs"
                 (click)="saveAssetsPositions()"
                 style="color: #305f8f"
                 [ngbTooltip]="savePositionsToolTip"></i>
              <ng-template #savePositionsToolTip>
                <div>Save <i class="fa fa-save" style="color: #7da7d1;font-size: 12px;"></i>Assets' positions on Graph.</div>
              </ng-template>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div aria-labelledby="ModalLabel" class="modal fade" id="relationshipsModal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h4 class="title title-up modal-title">
          <i class="fa fa fa-pen"></i>
          Select Relationship Type</h4>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><i
          class="fa fa-times"></i></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-12">
              <table class="table table-striped">
                <thead class=" text-primary">
                <tr>
                  <th></th>
                  <th>Relationship</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let relationship of this.relationshipsList" (click)="updateRelationship(relationship)"
                    data-dismiss="modal"
                    style="cursor: pointer;">
                  <td>
                    <button type="button" title="Delete" class="btn btn-outline-success btn-icon btn-sm">
                      <i class="fa fa-plus"></i>
                    </button>
                  </td>
                  <td>
                    <input type="text" readonly class="form-control transparent-input"
                           value="{{relationship['code']}}">
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div aria-labelledby="ModalLabel" class="modal fade" id="rUSureModal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h4 class="title title-up modal-title">
          <i class="fa fa fa-question-circle"></i>
          Remove Related Asset</h4>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><i
          class="fa fa-times"></i></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                Are you sure you want to remove asset relationship between asset a & asset b?
              </div>
            </div>
          </div>


        </form>
      </div>
      <div class="modal-footer">
        <div class="left-side">
          <button
            (click)="removeSelectedNode()"
            class="btn btn-outline-danger"
            data-dismiss="modal"
            type="button">
            Remove <i class="fa fa fa-unlink"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div aria-labelledby="ModalLabel" class="modal fade" id="addRelationshipModal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h4 class="title title-up modal-title">
          <i class="fa fa fa-plus-circle" style="color: #62c58e"></i>
          New Asset Relationship</h4>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><i
          class="fa fa-times"></i></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label>Relationship</label>
                <app-autocomplete-combo-box class="form-input-field"
                                            [componentPersistEntityDTO]="autocompleteComboboxCpe"
                                            [componentPersistEntityFieldDTO]="autocompleteComboboxCpef"
                                            [editable]="true">
                </app-autocomplete-combo-box>
                <code></code>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label>Asset</label>
                <div class="input-group input-group-alternative" style="margin-bottom: 0px; cursor: pointer;">
                  <div data-target="#selectComponentModal" data-toggle="modal" class="input-group-prepend"
                       style="background-color: #ffffff;">
                  <span
                    style="border-top: 1px solid #51cbce;border-bottom: 1px solid #51cbce;border-left: 1px solid #51cbce;"
                    class="input-group-text"><i class="fa fa-search"></i></span>
                  </div>
                  <input readonly=""
                         data-target="#selectUserGroupsModal"
                         data-toggle="modal" type="text"
                         class="form-control"
                         (click)="openAssetsListSelector();"
                         style="background-color: #ffffff; margin-bottom: 0px; cursor: pointer;border-top: 1px solid #51cbce;border-bottom: 1px solid #51cbce;">
                  <div class="input-group-append" style="background-color: #ffffff;">
                <span class="input-group-text input-group-text-rm"
                      style="border-top: 1px solid #51cbce;border-bottom: 1px solid #51cbce;border-right: 1px solid #51cbce;">
                <i class="fa fa-window-close"></i>
              </span>
                  </div>
                </div>
                <code></code>
              </div>

            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="left-side">
          <button class="btn btn-outline-success" data-dismiss="modal" type="button">
            Add <i class="fa fa fa-plus-circle" style="color: #62c58e"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div aria-labelledby="ModalLabel" class="modal fade" id="selectComponentModal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h4 class="title title-up modal-title">Insert Component</h4>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><i
          class="fa fa-times"></i></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-12">
              <table class="table table-striped">
                <thead class=" text-primary">
                <tr>
                  <th>Actions</th>
                  <th>id</th>
                  <th>name</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="left-side">
          <button class="btn btn-outline-danger" data-dismiss="modal" type="button">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
