.is-hidden {
  display: none;
}

.requider-field {
  border: 1px solid #f28157;
}

.requider-field-empty {
  border: 1px solid #137f82;
}

.btn {
  margin: 2px;
}

.table {
  margin-bottom: 0rem;
}

.hidden-field{
  display: none;
}

.table-fixed tbody {
  /*height: 675px;*/
  /*overflow-y: auto;*/
  width: 100%;
}

.table-fixed thead,
.table-fixed tbody {
  display: block;
}

.table-fixed tbody {
  border-top: 1px solid #caeff0;
  /*border-bottom: 1px solid #caeff0;*/
  border-left: 0px;
  border-right: 0px;
}

.empty-table {
  padding: 20px !important;
  text-align: center !important;
  font-style: italic !important;
}
.table-fixed tr {
  display: flex;
  flex-wrap: wrap;
}

.table-fixed th,
.table-fixed td {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: 1px;
}

.table-fixed .sortable:after {
  content: "\f0dc";
  position: relative;
  bottom: 1px;
  display: inline-block;
  right: -7px;
  font-family: FontAwesome;
  opacity: 0.4;
  font-size: 11px;
}
