<table class="table table-striped table-fixed">
  <thead class="text-primary">
  <tr>
    <th *ngIf="formcontrol.formControlTable.formControlButtons.length > 0"></th>
    <th *ngFor="let tableFieldComponent of formcontrol.formControlTable.formControls"
        class="col-{{tableFieldComponent.formControlField.id}}">
      {{tableFieldComponent.formControlField.description}}
    </th>
  </tr>
  </thead>
  <tbody class="list-table-body list-table-body-{{this.formcontrol.formControlTable.id}}">
  <tr
    *ngIf="formcontrol.formControlTable.formControlLines?.length === 0 && formcontrol.formControlTable.formControlButtons.length === 0">
    <td [attr.colspan]="formcontrol.formControlTable.formControls.length" class="empty-table-row">Empty!</td>
  </tr>
  <tr
    *ngIf="formcontrol.formControlTable.formControlLines?.length === 0 && formcontrol.formControlTable.formControlButtons.length > 0">
    <td [attr.colspan]="formcontrol.formControlTable.formControls.length+1" class="empty-table-row">Empty!</td>
  </tr>
  <tr *ngFor="let formControlLine of formcontrol.formControlTable.formControlLines">

    <td *ngIf="formcontrol.formControlTable.formControlButtons.length > 0">
      <button
        (click)="formButtonClicked(tableFormControl,
         formControlLine,
         formcontrol.formControlTable.formControlLines,
         formcontrol,
         formcontrol.formControlTable)"
        *ngFor="let tableFormControl of formcontrol.formControlTable.formControlButtons"
        type="button"
        title="{{tableFormControl.formControlButton.description}}"
        class="btn {{tableFormControl.formControlButton.cssClass}} btn-icon btn-sm">
        <i class="fa {{tableFormControl.formControlButton.icon}}"> </i>
      </button>

    </td>
    <td *ngFor="let formComponentCell of formControlLine.formControlCells" class="col-{{formComponentCell.formControl.id}}">
      <ng-container *ngIf="formComponentCell.formControl.type === 'field'">
        <ng-container
          *ngIf="formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'varchar' ||
                         formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'text' ">
          <app-varchar-input
            [ngClass]="{'hidden-field': !formComponentCell.formControl.formControlField.visible}"
            [ngClass]="{'requider-field': formComponentCell.formControl.formControlField.required}"
            [editable]="formComponentCell.formControl.formControlField.editable"
            [mask]="(!!formComponentCell.formControl.formControlField.mask)?formComponentCell.formControl.formControlField.mask:''"
            (keydownEvent)="tableFieldKeyDown($event, formComponentCell.id, formControlLine,
                                   formcontrol.formControlTable.formControlLines,
                                   formcontrol.formControlTable)"
            (focusEvent)="setSelectedTableLineComponentTree(formcontrol.formControlTable.componentPersistEntity,
                                   formControlLine.componentPersistEntityDataLine)"
            (eventOccured)="tableEventOccured($event,
            formcontrol.formControlTable.componentPersistEntity,
            formControlLine.componentPersistEntityDataLine)"
            [componentPersistEntityDTO]="formComponentCell.formControl.formControlField.componentPersistEntity"
            [componentPersistEntityFieldDTO]="formComponentCell.componentPersistEntityField">
          </app-varchar-input>
        </ng-container>
        <ng-container
          *ngIf="formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'combo'">
              <app-combo-box class="form-input-field"
                             [componentPersistEntityDTO]="formComponentCell.formControl.formControlField.componentPersistEntity"
                             [componentPersistEntityFieldDTO]="formComponentCell.componentPersistEntityField"
                             (eventOccured)="tableEventOccured($event,
                             formcontrol.formControlTable.componentPersistEntity,
                             formControlLine.componentPersistEntityDataLine)"
                             [editable]="formComponentCell.formControl.formControlField.editable">
              </app-combo-box>
        </ng-container>
        <ng-container
          *ngIf="formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'checkbox'" >

          <app-check-box class="form-input-field"
                         [ngClass]="{'hidden-field': !formComponentCell.formControl.formControlField.visible}"
                         [ngClass]="{'requider-field': formComponentCell.formControl.formControlField.required}"
                         [editable]="formComponentCell.formControl.formControlField.editable"
                         [mask]="(!!formComponentCell.formControl.formControlField.mask)?formComponentCell.formControl.formControlField.mask:''"
                         (keydownEvent)="tableFieldKeyDown($event, formComponentCell.id, formControlLine,
                                   formcontrol.formControlTable.formControlLines,
                                   formcontrol.formControlTable)"
                         (focusEvent)="setSelectedTableLineComponentTree(formcontrol.formControlTable.componentPersistEntity,
                                   formControlLine.componentPersistEntityDataLine)"
                         (eventOccured)="tableEventOccured($event,
            formcontrol.formControlTable.componentPersistEntity,
            formControlLine.componentPersistEntityDataLine)"
                         [componentPersistEntityDTO]="formComponentCell.formControl.formControlField.componentPersistEntity"
                         [componentPersistEntityFieldDTO]="formComponentCell.componentPersistEntityField">
          </app-check-box>
        </ng-container>
        <ng-container
          *ngIf="formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'autocomplete-combo'">
          <app-autocomplete-combo-box
            [ngClass]="{'hidden-field': !formComponentCell.formControl.formControlField.visible}"
            [ngClass]="{'requider-field': formComponentCell.formControl.formControlField.required}"
            [editable]="formComponentCell.formControl.formControlField.editable"

            (eventOccured)="tableEventOccured($event,
            formcontrol.formControlTable.componentPersistEntity,
            formControlLine.componentPersistEntityDataLine)"
            [componentPersistEntityDTO]="formComponentCell.formControl.formControlField.componentPersistEntity"
            [componentPersistEntityFieldDTO]="formComponentCell.componentPersistEntityField">
          </app-autocomplete-combo-box>
        </ng-container>
        <ng-container
          *ngIf="formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'double' ">
          <app-numeric-input
            [ngClass]="{'hidden-field': !formComponentCell.formControl.formControlField.visible}"
            [mask]="(!!formComponentCell.formControl.formControlField.mask)?formComponentCell.formControl.formControlField.mask:'0*.0000'"
            [fieldClass]="formComponentCell.id"
            (keyDownChange)="tableFieldKeyDown($event, formComponentCell.id, formControlLine,
                               formcontrol.formControlTable.formControlLines,
                               formcontrol.formControlTable)"
            (focusEvent)="setSelectedTableLineComponentTree(formcontrol.formControlTable.componentPersistEntity,
                                   formControlLine.componentPersistEntityDataLine)"
            [(inputValue)]="formComponentCell.componentPersistEntityField.value"
            [mask]="'0*.0000'"
            [editable]="formComponentCell.formControl.formControlField.editable"
            (eventOccured)="tableEventOccured($event,
            formcontrol.formControlTable.componentPersistEntity,
            formControlLine.componentPersistEntityDataLine)"
            [componentPersistEntityDTO]="formComponentCell.formControl.formControlField.componentPersistEntity"
            [componentPersistEntityFieldDTO]="formComponentCell.componentPersistEntityField">
          </app-numeric-input>
        </ng-container>
        <ng-container
          *ngIf="formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'int' ||
                         formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'bigint'">
          <app-numeric-input
            [ngClass]="{'hidden-field': !formComponentCell.formControl.formControlField.visible}"
            [mask]="(!!formComponentCell.formControl.formControlField.mask)?formComponentCell.formControl.formControlField.mask:'0*'"
            [fieldClass]="formComponentCell.id"
            (keyDownChange)="tableFieldKeyDown($event, formComponentCell.id, formControlLine,
                                               formcontrol.formControlTable.formControlLines,
                                               formcontrol.formControlTable)"
            [(inputValue)]="formComponentCell.componentPersistEntityField.value"
            (focusEvent)="setSelectedTableLineComponentTree(formcontrol.formControlTable.componentPersistEntity,
                                   formControlLine.componentPersistEntityDataLine)"
            (eventOccured)="tableEventOccured($event,
            formcontrol.formControlTable.componentPersistEntity,
            formControlLine.componentPersistEntityDataLine)"
            [mask]="'0*'"
            [editable]="formComponentCell.formControl.formControlField.editable">
          </app-numeric-input>
        </ng-container>
        <ng-container
          *ngIf="formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'list'">
          <app-list-selector
            [ngClass]="{'hidden-field': !formComponentCell.formControl.formControlField.visible}"
            [editable]="formComponentCell.formControl.formControlField.editable"
            [fieldClass]="formComponentCell.id"
            (keyDownChange)="tableFieldKeyDown($event, formComponentCell.id, formControlLine,
                              formcontrol.formControlTable.formControlLines,
                               formcontrol.formControlTable)"
            (eventOccured)="tableEventOccured($event,
            formcontrol.formControlTable.componentPersistEntity,
            formControlLine.componentPersistEntityDataLine)"
            [lineComponentPersistEntity]="formControlLine.componentPersistEntity"
            [component]="this.component"
            [command]="formComponentCell.componentPersistEntityField.assignment.editor"
            [(value)]="formComponentCell.componentPersistEntityField.value"
            [componentPersistEntityDTO]="formComponentCell.formControl.formControlField.componentPersistEntity"
            [componentPersistEntityFieldDTO]="formComponentCell.componentPersistEntityField"
            (focusEvent)="setSelectedTableLineComponentTree(formcontrol.formControlTable.componentPersistEntity,
                                   formControlLine.componentPersistEntityDataLine)"
          ></app-list-selector>
        </ng-container>
        <ng-container
          *ngIf="formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'chips'">
          <app-chips
            [ngClass]="{'hidden-field': !formComponentCell.formControl.formControlField.visible}"
            [editable]="formComponentCell.formControl.formControlField.editable"
            [fieldClass]="formComponentCell.id"
            (keyDownChange)="tableFieldKeyDown($event, formComponentCell.id, formControlLine,
                              formcontrol.formControlTable.formControlLines,
                               formcontrol.formControlTable)"
            (eventOccured)="tableEventOccured($event,
            formcontrol.formControlTable.componentPersistEntity,
            formControlLine.componentPersistEntityDataLine)"
            [command]="formComponentCell.componentPersistEntityField.assignment.editor"
            [componentPersistEntity]="formControlLine.componentPersistEntity"
            [componentPersistEntityFieldDTO]="formComponentCell.componentPersistEntityField"
            (focusEvent)="setSelectedTableLineComponentTree(formcontrol.formControlTable.componentPersistEntity,
                                   formControlLine.componentPersistEntityDataLine)">
          </app-chips>
        </ng-container>
        <ng-container
          *ngIf="formComponentCell.formControl.formControlField.componentPersistEntityField.assignment.type === 'datetime'">
          <app-date-picker
            [ngClass]="{'hidden-field': !formComponentCell.formControl.formControlField.visible}"
            [mask]="(!!formComponentCell.formControl.formControlField.mask)?formComponentCell.formControl.formControlField.mask:'dd/MM/yyyy'"
            [fieldClass]="formComponentCell.id"
            (keyDownChange)="tableFieldKeyDown($event, formComponentCell.id, formControlLine,
                               formcontrol.formControlTable.formControlLines,
                                formcontrol.formControlTable)"
            [(inputDate)]="formComponentCell.componentPersistEntityField.value"
            (focusEvent)="setSelectedTableLineComponentTree(formcontrol.formControlTable.componentPersistEntity,
                                   formControlLine.componentPersistEntityDataLine)"
            (eventOccured)="tableEventOccured($event,
            formcontrol.formControlTable.componentPersistEntity,
            formControlLine.componentPersistEntityDataLine)"
            [editable]="formComponentCell.formControl.formControlField.editable"
            [componentPersistEntityDTO]="formComponentCell.formControl.formControlField.componentPersistEntity"
            [componentPersistEntityFieldDTO]="formComponentCell.componentPersistEntityField"
          ></app-date-picker>
        </ng-container>
      </ng-container>
    </td>
  </tr>
  </tbody>
</table>

<table
  *ngIf="formcontrol.formControlTable.formControlButtons.length > 0 && formcontrol.formControlTable.editable"
  class="table table-fixed">
  <tbody class="list-table-body">
  <tr>
    <td>
      <button
        type="button"
        title="New line"
        (click)="tableAppendNewLine(formcontrol.formControlTable.formControlLines,formcontrol.formControlTable)"
        class="btn btn-outline-success btn-icon btn-sm">
        <i class="fa fa-plus-circle"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
