<div class="row formnav">
  <div class="col-sm-12">
    <div class="pull-left">
      <div class="col-12">
        <h3 style="margin-top: 20px;margin: 0px;margin-top: 10px;">
          <i class="fa fa-cogs" style="padding-right: 5px;"></i>
          Table Designer
        </h3>
        <p style=" margin-bottom: 5px;">Table Designer Form </p>
      </div>
    </div>
    <div class="pull-right">
      <button class="btn btn-outline-success" style="margin-top: 0px;" (click)="save()">
        <i class="fa fa-save"></i> Save
      </button>
      <button class="btn btn-outline-danger" style="margin-top: 0px;" [hidden]="mode === 'new-record'"
              (click)="delete()">
        <i class="fa fa-times"></i> Delete
      </button>
      <button class="btn btn-outline-primary" style="margin-top: 0px;" *ngIf="showPreviousPageButton()"
              (click)="navigateToPreviousPage()">
        <i class="fa fa-chevron-left"></i> Back
      </button>
      <button class="btn btn-outline-primary" style="margin-top: 0px;" *ngIf="showNextPageButton()"
              (click)="navigateToNextPage()">
        <i class="fa fa-chevron-right"></i> Next
      </button>
    </div>
  </div>
</div>

<div class="row form-area">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Name</label>
              <input type="text"
                     class="form-control"
                     (focusout)="checkIfTableAlreadyExists()"
                     [(ngModel)]="dto.name"
                     mask="{{customTableNameMask}}"
                     [patterns]="customTableNamePattern"
                     [readonly]="mode === 'edit-record'">
              <small class="text-info" *ngIf="tableExists"> Table already exists. </small>
              <code></code>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Description</label>
              <textarea
                class="form-control textarea" name="description" [(ngModel)]="dto.description"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row formnav">
  <div class="col-sm-12">
    <div class="pull-left">
      <button type="button" class="btn btn-outline-default btn-round btn-white header-tab"
              (click)="setVisibleSection('fields');">
        <i class="fa fa-database"></i>
        Fields
      </button>
      <button
        type="button"
        class="btn btn-outline-default btn-round btn-white header-tab"
        (click)="setVisibleSection('fk_constrains');">
        <i class="fa fa-key"></i>
        FK Constrains
      </button>
    </div>
  </div>
</div>

<div class="row form-area" [ngClass]="{'is-hidden': this.visibleSection !== 'fields' }">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-7">
            <h5 class="card-title pull-left">Fields</h5>
          </div>
          <div class="col-sm-5">
            <div class="pull-right">
              <button class="btn btn-outline-success" (click)="addField()">
                <i class="fa fa-plus-circle"></i> Empty Field
              </button>
              <button class="btn btn-outline-success" (click)="addDefaultFields()">
                <i class="fa fa-plus-circle"></i> Default Fields
              </button>
              <button class="btn btn-outline-success" (click)="addVersionField()">
                <i class="fa fa-plus-circle"></i> Version Field
              </button>
              <button class="btn btn-outline-success" (click)="addShortOrderField()">
                <i class="fa fa-plus-circle"></i> Short Order Field
              </button>
              <button class="btn btn-outline-primary" (click)="generateTableFields()">
                <i class="fa fa-plus-circle"></i> Generate Fields From Database
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="">
          <table class="table table-striped">
            <thead class=" text-primary">
            <tr>
              <th>Actions</th>
              <th>Name</th>
              <th>Type</th>
              <th>Size</th>
              <th>Auto Increment</th>
              <th>Primary key</th>
              <th>Has default</th>
              <th>Default</th>
              <th>Unsigned</th>
              <th>Not Null</th>
              <th>On Save</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of this.dto.tableFieldList">
              <td>
                <button class="btn btn-outline-danger btn-icon btn-sm" title="Delete" type="button"
                        (click)="removeLine(row)">
                  <i class="fa fa-times"></i>
                </button>
              </td>
              <td>
                <input type="text" class="form-control transparent-input" [(ngModel)]="row.name"
                       [patterns]="customTableNamePattern" [mask]="customTableNameMask">
              </td>
              <td>
                <select [(ngModel)]="row.type" class="transparent-input">
                  <option value=""></option>
                  <option value="bigint">bigint</option>
                  <option value="int">int</option>
                  <option value="double">double</option>
                  <option value="datetime">datetime</option>
                  <option value="varchar">varchar</option>
                  <option value="password">password</option>
                  <option value="text">text</option>
                  <option value="longtext">longtext</option>
                  <option value="bit">bit</option>
                </select>
              </td>
              <td>
                <input class="form-control ng-dirty ng-valid ng-touched transparent-input" number="true"
                       type="number" [(ngModel)]="row.size">
              </td>
              <td>
                <select class="transparent-input" [(ngModel)]="row.autoIncrement">
                  <option value="false">No</option>
                  <option value="true">Yes</option>
                </select>
              </td>
              <td>
                <select class="transparent-input" [(ngModel)]="row.primaryKey">
                  <option value="false">No</option>
                  <option value="true">Yes</option>
                </select>
              </td>
              <td>
                <select class="transparent-input" [(ngModel)]="row.hasDefault">
                  <option value="false">No</option>
                  <option value="true">Yes</option>
                </select>
              </td>
              <td>
                <input class="form-control ng-dirty ng-valid ng-touched transparent-input"
                       [(ngModel)]="row.defaultValue">
              </td>
              <td>
                <select class="transparent-input" [(ngModel)]="row.isUnsigned">
                  <option value="false">No</option>
                  <option value="true">Yes</option>
                </select>
              </td>
              <td>
                <select class="transparent-input" [(ngModel)]="row.hasNotNull">
                  <option value="false">No</option>
                  <option value="true">Yes</option>
                </select>
              </td>
              <td>
                <input class="form-control ng-dirty ng-valid ng-touched transparent-input"
                       [(ngModel)]="row.onSaveValue">
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row form-area" [ngClass]="{'is-hidden': this.visibleSection !== 'fk_constrains' }">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-7">
            <h5 class="card-title pull-left">Foreign Key Constraints</h5>
          </div>
          <div class="col-sm-5">
            <div class="pull-right">
              <button class="btn btn-outline-success" (click)="addForeignKeyConstrain()">
                <i class="fa fa-plus-circle"></i> Add Foreign Key Constraint
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="">
          <table class="table table-striped">
            <thead class=" text-primary">
            <tr>
              <th>Actions</th>
              <th>Name</th>
              <th>Field Name</th>
              <th>Referred Table</th>
              <th>Referred Field</th>
              <th>On Update</th>
              <th>On Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr
              *ngIf="this.dto == undefined || this.dto?.foreignKeyConstrainList?.length === 0 || this.dto?.foreignKeyConstrainList == undefined ">
              <td colspan="7" class="empty-table-row">Empty!</td>
            </tr>
            <tr *ngFor="let row of this.dto.foreignKeyConstrainList | shortByOrder">
              <td>
                <button class="btn btn-outline-danger btn-icon btn-sm" title="Delete" type="button"
                        (click)="removeForeignKeyConstrainLine(row)">
                  <i class="fa fa-times"></i>
                </button>
              </td>
              <td>
                <input type="text" class="form-control transparent-input" [(ngModel)]="row.name"
                       [patterns]="customTableNamePattern" [mask]="customTableNameMask">
              </td>
              <td>
                <select class="transparent-input" [(ngModel)]="row.fieldName">
                  <option *ngFor="let field of (this.dto.tableFieldList)"
                          [value]="field?.name">
                    {{field.name}}
                  </option>
                </select>
              </td>
              <td>
                <select class="transparent-input" [compareWith]="compareReferredTable" [(ngModel)]="row.referredTable"
                        (ngModelChange)="onChange($event,row)">
                  <option *ngFor="let table of (listOfTables)"
                          [ngValue]="table">
                    {{table.name}}
                  </option>
                </select>
              </td>
              <td>
                <select class="transparent-input" [compareWith]="compareReferredField" [(ngModel)]="row.referredField">
                  <option *ngFor="let referredField of (row?.referredTable?.tableFieldList)"
                          [ngValue]="referredField">
                    {{referredField.name}}
                  </option>
                </select>
              </td>
              <td>
                <select class="transparent-input" [(ngModel)]="row.onUpdate">
                  <option *ngFor="let referentialAction of (referentialActions)"
                          [value]="referentialAction">
                    {{referentialAction}}
                  </option>
                </select>
              </td>
              <td>
                <select class="transparent-input" [(ngModel)]="row.onDelete">
                  <option *ngFor="let referentialAction of (referentialActions)"
                          [value]="referentialAction">
                    {{referentialAction}}
                  </option>
                </select>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>




