<div class="card">
  <div class="card-header">
    <div class="pull-left">
      <h5 class="card-title">
        <i class="fa {{this.dto?.icon}}" *ngIf="this.dto?.icon != null && this.dto?.icon != ''"></i>
        {{this.dto?.title}}
      </h5>
      <p class="card-category">{{this.dto?.secondTitle}}</p>
    </div>
    <div class="pull-right">
<div class="row filter-row">
  <ng-container *ngFor="let filter of this.dto?.filterList">
    <div class="form-group col" style="min-width: 300px;" *ngIf="filter.type === 'list'">
          <app-list-selector
            [editable]="filter.editable"
            [command]="filter.editor"
            [defaultValue]="filter.defaultValue"
            [displayValue]="filter.displayValue"
            [(value)]="filter.fieldValue"
            (eventOccured)="fieldEventOccured($event)"></app-list-selector>
      <div class="category">{{filter.description}}</div>
    </div>
  </ng-container>

</div>


    </div>
  </div>
  <div class="card-body graph-prev-body">
    <canvas id="{{chartInstanceId}}" width="400" height="100"></canvas>
  </div>
  <div class="card-footer" *ngIf="this.dto?.refreshButton">
    <hr>
    <div class="stats"
         style="cursor: pointer;"
         (click)="getData()">
      <i class="fa fa-sync"></i> Refresh
    </div>
  </div>
</div>

