<textarea
  class="form-control code-textarea ng-pristine ng-valid ng-touched"
  [readonly]="!editable"
  mask="{{mask}}"
  [(ngModel)]="componentPersistEntityFieldDTO.value"
  (keydown)="eventOccuredActions('keydown',$event)"
  (keydown)="keyDownTriggered($event)"
  (keyup)="eventOccuredActions('keyup',$event)"
  (dblclick)="eventOccuredActions('dblclick',$event)"
  (click)="eventOccuredActions('click',$event)"
  (change)="eventOccuredActions('change',$event)"
  (focus)="eventOccuredActions('focus',$event)"
  (focus)="focusTriggered($event)"
  (focusout)="eventOccuredActions('focusout',$event)"
  (drag)="eventOccuredActions('drag',$event)"
  (dragend)="eventOccuredActions('dragend',$event)"
  (mousemove)="eventOccuredActions('mousemove',$event)"
  (mouseout)="eventOccuredActions('mouseout',$event)"
  (mouseover)="eventOccuredActions('mouseover',$event)"
  (mouseup)="eventOccuredActions('mouseup',$event)"
  (resize)="eventOccuredActions('resize',$event)">
</textarea>
