
.card-timeline .timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative; }
.card-timeline .timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #dbdbdb;
  left: 50%;
  margin-left: -1.5px; }
.card-timeline .timeline .timeline-footer .btn {
  margin: 0; }
.card-timeline .timeline h6 {
  color: #9A9A9A;
  font-weight: 400;
  margin: 10px 0px 0px; }
.card-timeline .timeline.timeline-simple:before {
  left: 5%; }
.card-timeline .timeline.timeline-simple > li > .timeline-panel {
  width: 86%; }
.card-timeline .timeline.timeline-simple > li > .timeline-badge {
  left: 5%; }
.card-timeline .timeline > li {
  margin-bottom: 20px;
  position: relative; }
.card-timeline .timeline > li:before, .card-timeline .timeline > li:after {
  content: " ";
  display: table; }
.card-timeline .timeline > li:after {
  clear: both; }
.card-timeline .timeline > li > .timeline-panel {
  width: 45%;
  float: left;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  background-color: #FFFFFF;
  color: #2c2c2c;
  margin-bottom: 20px;
  position: relative; }
.card-timeline .timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #E3E3E3;
  border-right: 0 solid #E3E3E3;
  border-bottom: 15px solid transparent;
  content: " "; }
.card-timeline .timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #FFFFFF;
  border-right: 0 solid #FFFFFF;
  border-bottom: 14px solid transparent;
  content: " "; }
.card-timeline .timeline > li > .timeline-badge {
  color: #FFFFFF;
  width: 50px;
  height: 50px;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #9A9A9A;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border: 3px solid #f4f3ef; }
.card-timeline .timeline > li > .timeline-badge [class^="fa-"],
.card-timeline .timeline > li > .timeline-badge [class*=" fa-"] {
  line-height: 2.1;
  width: 25px;
  text-align: center;
  font-size: 21px; }
.card-timeline .timeline > li > .timeline-badge .nc-icon {
  line-height: 2.1;
  width: 25px;
  text-align: center;
  font-size: 21px; }
.card-timeline .timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  background-color: #fff; }
.card-timeline .timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto; }
.card-timeline .timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto; }

.card-timeline .timeline-heading {
  margin-bottom: 15px; }

.card-timeline .timeline-badge.primary {
  background-color: #51bcda !important; }

.card-timeline .timeline-badge.info {
  background-color: #51bcda !important; }

.card-timeline .timeline-badge.success {
  background-color: #6bd098 !important; }

.card-timeline .timeline-badge.warning {
  background-color: #fbc658 !important; }

.card-timeline .timeline-badge.danger {
  background-color: #ef8157 !important; }

.card-timeline .timeline-title {
  margin-top: 0;
  color: inherit; }

.card-timeline .timeline-body > p,
.card-timeline .timeline-body > ul {
  margin-bottom: 0; }

.card-timeline .timeline-body > p + p {
  margin-top: 5px; }

.min-title{
  cursor: pointer;
}

.next-page-button{
  color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -25px;
  background-color: darkgreen;
  z-index: 100;
  border-radius: 50%;
  border: 3px solid #f4f3ef;
  line-height: 2.1;
  font-size: 21px;
  padding: initial !important;
}

.next-page-button:hover {
  background-color: forestgreen !important;
}

.form-group{
  margin-top: 8px;
  padding-right: 5px;
  padding-left: 5px;
}

.filter-row{
  padding-right: 10px;
}


