.expr-unit-type{
  font-size: 11px;
  color: green;
  border-right: 1px solid #51cbce;
  background-color: #ffffff;
  border-right: 1px solid #51cbce;
  border-bottom: 1px solid #51cbce;
  border-top: 1px solid #51cbce;
}

.expand-button{
  border-bottom: 1px solid #51cbce;
  border-top: 1px solid #51cbce;
  border-left: 1px solid #51cbce;
}

.menu-button{
  font-size: 12px;
}
