.btn{
  margin-left: 2px;
}

.btn-outline-default {
  background-color: #ffffff !important;
}

.btn-outline-default:focus,
.btn-outline-default:active,
.btn-outline-default:focus:active,
.btn-outline-default.active,
.open > .btn-outline-default.dropdown-toggle {
  background-color: #ffffff !important;
  color: rgb(102 97 91) !important;
  border-color: #3cb3b3 !important;
}

.btn-outline-default:hover{
  background-color: #ffffff !important;
  color: #297a7a !important;
  border-color: #3cb3b3 !important;
}

.left-group-button {
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
  margin: 2px;
}

ul {
  padding-left: 7px;
}

li { /* styles all li elements*/
  list-style-type: none;
  padding-left: 0px;
  text-align: left;
}
