
.nav-tabs .nav-link {
  margin: 0px 1px 0px 1px;
  background-color: transparent !important;
  color: #66615B !important;
  border: 2px solid #66615B !important;

  border-width: 1px;
  border-radius: 30px;
  padding-right: 23px;
  padding-left: 23px;
}

.nav-tabs .nav-link.active {
  background-color: transparent !important;
  border: 2px solid #11b3b3 !important;
}

.nav-tabs .nav-link:hover {
  /*background-color: #9ad0d0 !important;*/
  /*color: #66615B !important;*/

  background-color: #a5a19d !important;
  color: #ffffff !important;

}

.nav-tabs {
  border-bottom: 0px solid transparent;
}

.nav-tabs-navigation {
  padding-top: 8px;
}

.form-group {
  margin: 0px !important;
}

.input-group {
  margin-bottom: 0px !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dee2e6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #78cbce;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #11abab;
}

.card {
  margin: 0px;
}

.card-header .row {
  padding: 0px !important;
}

.table-fixed tbody {
  /*height: 675px;*/
  /*overflow-y: auto;*/
  width: 100%;
}

.table-fixed thead,
.table-fixed tbody {
  display: block;
}

.table-fixed tbody {
  border-top: 1px solid #caeff0;
  border-bottom: 1px solid #caeff0;
  border-left: 0px;
  border-right: 0px;
}

.empty-table {
  padding: 20px !important;
  text-align: center !important;
  font-style: italic !important;
}
.table-fixed tr {
  display: flex;
  flex-wrap: wrap;
}

.table-fixed th,
.table-fixed td {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: 1px;
}

.table-fixed .sortable:after {
  content: "\f0dc";
  position: relative;
  bottom: 1px;
  display: inline-block;
  right: -7px;
  font-family: FontAwesome;
  opacity: 0.4;
  font-size: 11px;
}

.col-10-percent {
  flex: 0 0 10%;
  max-width: 10%;
}

ul {
  padding-left: 7px;
}

li { /* styles all li elements*/
  list-style-type: none;
  padding-left: 0px;
  text-align: left;
}

.btn {
  margin: 2px;
  background: white;
}

.left-group-button {
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
}

@media (min-width: 768px) {
  .col-md-2 {
    padding: 0px;
    padding-left: 15px;
  }
}

@media (max-width: 768px) {
  .col-12 {
    padding-bottom: 5px !important;
  }
}

.nav-tabs .nav-link.active {
  background-color: #fffffffa !important;
}

.nav-tabs .nav-link {
  background-color: #fffffffa !important;
}

.nav-tabs .nav-link.active:hover{
  color: #11b3b3 !important;
 }

.pagination
{
  margin: 10px 1px 1px 1px;
}

.pagination .page-item.active>.page-link, .pagination .page-item.active>.page-link:focus, .pagination .page-item.active>.page-link:hover, .pagination .paginate_button.active a, .pagination .paginate_button.active a:focus, .pagination .paginate_button.active a:hover {
  background-color: #51cbce;
  color: #fff;
}

.pagination .page-item .page-link, .pagination .paginate_button a {
  border: 0;
  border-radius: 10px!important;
  transition: all .3s;
  padding: 0 11px;
  margin: 0 3px;
  min-width: 30px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: #2c2c2c;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  background: 0 0;
  outline: 0;
}

.is-hidden {
  display: none;
}

.btn-outline-default {
  background-color: #ffffff !important;
}

.btn-outline-default:focus,
.btn-outline-default:active,
.btn-outline-default:focus:active,
.btn-outline-default.active,
.open > .btn-outline-default.dropdown-toggle {
  background-color: #ffffff !important;
  color: rgb(102 97 91) !important;
  border-color: #3cb3b3 !important;
}

.btn-outline-default:hover{
  background-color: #ffffff !important;
  color: #297a7a !important;
  border-color: #3cb3b3 !important;
}

.card .card-body {
  padding: 0px 15px 15px 15px;
}

.dropdown-menu:before {
  border-bottom: 11px solid #FFFFFF;
  border-left: 11px solid rgba(0, 0, 0, 0);
  border-right: 11px solid rgba(0, 0, 0, 0);
  content: "";
  display: inline-block;
  position: absolute;
  left: 7px;
  top: -11px;
}

.filters-area{
  padding-right: 0px;
}

.form-control {
  padding: 10px;
}

.form-control:focus {
  border: 1px solid #057da1;
  color: #044a5e;
}

.th-header-pointer{
  cursor: pointer;
}

/*.list-table-body, .list-table-head{*/
/*  width: 100%;*/
/*  display: block;*/
/*}*/

/*.list-table-body tr, .list-table-head tr{*/
/*  display: flex;*/
/*  width: 100%;*/
/*}*/

/*.list-table-body tr td, .list-table-head tr td{*/
/*  display: flex;*/
/*  width: 100%;*/
/*}*/

