
ul {
  list-style-type: none;
}

li{
  list-style-type: none;
}

.btn {
  margin: 2px;
}

.textfield-button-danger {
  padding: 10px 5px 10px 5px !important;
  border: 2px solid #ef8157 !important;
  color: #ff0000;
}

.textfield-button-warning{
  padding: 10px 5px 10px 5px !important;
  border: 2px solid #fbc658 !important;
  color: #d28e00;
}

.textfield-button-info{
  padding: 10px 5px 10px 5px !important;
  border: 2px solid #17a2b8 !important;
  color: #17a2b8;
}

.textfield-button-success{
  padding: 10px 5px 10px 5px !important;
  border: 2px solid #42b817 !important;
  color: #42b817;
}

.table-select-header-btn{
  color: #47b818;
  border: 2px solid #47b818 !important;
}

.view-select-header-btn{
  color: #33a2b8;
  border: 2px solid #33a2b8 !important;
}

.appview-select-header-btn{
  color: #dea93c;
  border: 2px solid #dea93c !important;
}

.margin-left{
  margin-left: 10px;
}

.component-table {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid #66615b;
  border-radius: .25rem;
}

.input-group-text {
  background-color: #ffffff;
  border: 1px solid #33a2b8;
  border-radius: 0rem;
  cursor: pointer;
}

.input-group-prepend {
  cursor: pointer;
}

@keyframes check {0% {height: 0;width: 0;}
  25% {height: 0;width: 10px;}
  50% {height: 20px;width: 10px;}
}
.checkbox{background-color:#fff;display:inline-block;height:28px;margin:4px;width:28px;border-radius:4px;border:1px solid #ccc;cursor: pointer;}
.checkbox span{display:block;height:28px;position:relative;width:28px;padding:0}
.checkbox span:after{-moz-transform:scaleX(-1) rotate(135deg);-ms-transform:scaleX(-1) rotate(135deg);-webkit-transform:scaleX(-1) rotate(135deg);transform:scaleX(-1) rotate(135deg);-moz-transform-origin:left top;-ms-transform-origin:left top;-webkit-transform-origin:left top;transform-origin:left top;border-right:4px solid #fff;border-top:4px solid #fff;content:'';display:block;height:20px;left:3px;position:absolute;top:15px;width:10px}
.checkbox span:hover:after{border-color:#999}
.checkbox input{display:none}
.checkbox input:checked + span:after{-webkit-animation:check .8s;-moz-animation:check .8s;-o-animation:check .8s;animation:check .8s;border-color:#555}
.checkbox input:checked + .default:after{border-color:#444}
.checkbox input:checked + .primary:after{border-color:#2196F3}
.checkbox input:checked + .success:after{border-color:#8bc34a}
.checkbox input:checked + .info:after{border-color:#3de0f5}
.checkbox input:checked + .warning:after{border-color:#FFC107}
.checkbox input:checked + .danger:after{border-color:#f44336}
