<div class="row formnav">
  <div class="col-sm-12">
  </div>
</div>

<div class="row form-area">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group ">
              <form class="search-field">
                <div class="input-group no-border">
                  <input type="text" class="form-control search-field-box"
                         placeholder="Search..."
                         name="search"
                         [(ngModel)]="searchValue" (keyup.enter)="onEnterMethod()">
                  <div class="input-group-append">
                    <div class="input-group-text"><i class="fa fa-search"></i></div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row form-area">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <table class="table table-fixed table-striped">
          <tbody class="body">
          <tr *ngFor="let row of this.dto" style="cursor: pointer;" (click)="nav(row['navigation'])">
            <td class="icon-td" style="{{setStyle(row['icon_color'])}}">
              <i class="fa {{row['icon']}}"></i>
            </td>
            <td class="title-td" [innerHTML]="row['title']"></td>
            <td class="td-name description-td" [innerHTML]="row['description']"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
