/*.svgline:hover{*/
/*  stroke:rgb(255,255,0);*/
/*  stroke-width:1;*/
/*}*/

#ex2 .svgline:hover {
  stroke: rgb(83 159 209);
}

#ex2 .svgline {
  stroke: rgb(127 197 243);
  stroke-width: 2px;
  padding: 10px;
  cursor: pointer;
}

.graph-container{
background-color: #fff;
background-clip: border-box;
border: 0px solid white;
border-radius: 0.25rem;
}


.card{
  width:150px;
  position:absolute;
  /*cursor: pointer;*/
  border: 1px solid #7db8df;
  background-color: #f3f6f9;
}

.card .card-body{
  cursor: pointer;
}

.card-stats .card-footer .stats i {
  cursor: pointer;
}

.central-card{
  border: 3px solid #7db8df;
}

.card-stats .card-body .numbers .card-category {
  color: #000000;
  font-size: 8px;
  line-height: 1.4em;
}

.card-stats .card-body .numbers {
  text-align: right;
  font-size: 14px;
  padding-right: 7px;
}

.card-stats .icon-big {
  font-size: 20px;
  min-height: 15px;
  padding-left: 10px;
}

.card-stats .icon-big i {
  line-height: 35px;
}

.card-stats .card-body {
  padding: 10px 10px 0px;
}

.card-label .card-body {
  padding: 0px 3px 0px;
  font-size: 10px;
}

.card-label {
  border: 1px solid #ffbec1;
}


.card-stats .card-footer {
  padding: 0px 10px 10px;
}
.card-stats .card-footer hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-stats .card-footer .stats {
  color: #000000;
  font-size: 11px;
}

.formnav {
  padding-bottom: 10px;
}

.modal-title{
  margin-top: 0px;
}

.new-node{
  border: 1px solid #2994db !important;
}

.header-button {
  margin: 20px  2px  0px  !important;
}
