<div class="row formnav">
  <div class="col-sm-12">
    <div class="pull-left">
      <div class="col-12">
        <h3 style="margin-top: 20px;margin: 0px;margin-top: 10px;">
          <i class="fa fa-cogs" style="padding-right: 5px;"></i>
          App View Designer
        </h3>
        <p style=" margin-bottom: 5px;">App View Designer Form </p>
      </div>
    </div>
    <div class="pull-right">
      <button class="btn btn-outline-success" style="margin-top: 0px;" (click)="save()">
        <i class="fa fa-save"></i> Save
      </button>
      <button class="btn btn-outline-danger"  style="margin-top: 0px;" [hidden]="mode === 'new-record'" (click)="delete()">
        <i class="fa fa-times"></i> Delete
      </button>
      <button class="btn btn-outline-primary" style="margin-top: 0px;" *ngIf="showPreviousPageButton()" (click)="navigateToPreviousPage()">
        <i class="fa fa-chevron-left"></i> Back
      </button>
      <button class="btn btn-outline-primary" style="margin-top: 0px;" *ngIf="showNextPageButton()" (click)="navigateToNextPage()">
        <i class="fa fa-chevron-right"></i> Next
      </button>
    </div>
  </div>
</div>
<div class="row form-area">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">App View Designer</h5>
      </div>
      <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group " [ngClass]="{'has-danger': tableExists}">
                <label>Name</label>
                <input type="text"
                       class="form-control"
                       mask="{{customTableNameMask}}"
                       [patterns]="customTableNamePattern"
                       [(ngModel)]="dto.name"
                       [readonly]="mode === 'edit-record'" >
                <small class="text-danger" *ngIf="tableExists"> Error! Table name already exists. </small>
                <code ></code>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Tags</label>
  
                 <div>
                  <button *ngFor="let tag of this.dto?.tags" class="btn btn-outline-primary btn-round btn-chips"style="border-color:{{tag.color}} !important">
                    <i class="fa fa-times btn-delete-node" (click)="deleteTagChipsLine(tag)"></i>
                    {{tag.title}}
                  </button>
                  <button data-target="#selectTagModal"
                          data-toggle="modal"
                          class="btn btn-outline-success btn-round btn-icon btn-chips">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Description</label>
                <textarea
                  class="form-control textarea" name="description" [(ngModel)]="dto.description"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Query</label>
                <ace style="width: 100%;height: 800px;border: 1px solid #51cbce;"
                   [config]="aceSQLEditorConfig"
                   [(value)]="dto.query"></ace>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-7">
            <h5 class="card-title pull-left">Fields</h5>
          </div>
          <div class="col-sm-5">
            <div class="pull-right">
              <button class="btn btn-outline-primary" (click)="generateViewFields()">
                <i class="fa fa-plus-circle"></i> Generate fields
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="">
          <table class="table table-striped">
            <thead class=" text-primary">
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Type</th>
              <th>Size</th>
              <th>Primary key</th>
            </tr>
            </thead>
            <tbody>
            <tr
              *ngIf="this.dto == undefined || this.dto?.appViewFieldList?.length === 0 || this.dto?.appViewFieldList == undefined ">
              <td colspan="5" class="empty-table-row">Empty!</td>
            </tr>
            <tr *ngFor="let row of this.dto.appViewFieldList">
              <td>
                <input type="text" readonly class="form-control transparent-input" [(ngModel)]="row.id">
              </td>
              <td>
                <input type="text" readonly class="form-control transparent-input" [(ngModel)]="row.name">
              </td>
              <td>
                <input type="text" readonly class="form-control transparent-input" [(ngModel)]="row.type">
              </td>
              <td>
                <input readonly class="form-control ng-dirty ng-valid ng-touched transparent-input" number="true"
                       type="number" [(ngModel)]="row.size"  >
              </td>
              <td>
                <select class="transparent-input" [(ngModel)]="row.primaryKey">
                  <option value="false">No</option>
                  <option value="true">Yes</option>
                </select>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div aria-labelledby="ModalLabel" class="modal fade" id="selectTagModal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h4 class="title title-up modal-title">Select Tag</h4>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><i
          class="fa fa-times"></i></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-12">
              <table class="table table-striped table-fixed">
                <thead class=" text-primary">
                <tr>
                  <th>Actions</th>
                  <th>Title</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngIf="tagsList == undefined || tagsList?.length === 0">
                  <td colspan="3" class="empty-table-row">Empty!</td>
                </tr>
                <tr *ngFor="let row of tagsList"
                    style="cursor: pointer;">
                  <td>
                    <button type="button" title="Select" class="btn btn-outline-success btn-icon btn-sm"
                            data-dismiss="modal"
                            (click)="selectTag(row);">
                      <i class="fa fa-plus"></i>
                    </button>
                  </td>
                  <td>
                    <input type="text" readonly class="form-control transparent-input"style="border:1px solid {{row['color']}}"
                           value="{{row['title']}}">
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="left-side">
          <button class="btn btn-outline-danger" data-dismiss="modal" type="button">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>




