<div class="row formnav">
  <div class="col-sm-12">
    <div class="pull-left">
      <div class="col-12">
        <h3 style="margin-top: 20px;margin: 0px;margin-top: 10px;">
          <i class="fa fa-globe-europe" style="padding-right: 5px;"></i>
          Language
        </h3>
        <p style=" margin-bottom: 5px;"> Language Form </p>
      </div>
    </div>

    <div class="pull-right">
      <button class="btn btn-outline-success" style="margin-top: 0px;" (click)="save()">
        <i class="fa fa-save"></i> Save
      </button>
      <button class="btn btn-outline-danger" style="margin-top: 0px;" [hidden]="mode === 'new-record'"
              (click)="delete()">
        <i class="fa fa-times"></i> Delete
      </button>
    </div>
  </div>
</div>

<div class="row formnav">
  <div class="col-sm-12">
    <div class="pull-left">
      <button type="button" class="btn btn-outline-default btn-round btn-white header-tab"
              (click)="setVisibleSection('general');">
        <i class="fa fa-sliders-h"></i>
        General
      </button>
    </div>
  </div>
</div>

<div [ngClass]="{'is-hidden': this.visibleSection !== 'general' }" class="row form-area">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-body">

        <div class="row">

          <div class="col-12">
            <div class="form-group">
              <label>Id</label>
              <input
                type="text" class="form-control" readonly value="{{dto.id}}">
              <code></code>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group ">
              <label>Code</label>
              <input type="text" class="form-control"   mask="S*"
                     [(ngModel)]="dto.code">
              <code></code>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group ">
              <label>Name</label>
              <input type="text" class="form-control" [(ngModel)]="dto.name">
              <code></code>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group ">
              <label>Image</label>
              <input type="text" class="form-control" [(ngModel)]="dto.image">
              <code></code>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
