<div class="row formnav">
  <div class="col-sm-12">
    <div class="pull-left">
      <div class="col-12">
        <h3 style="margin-top: 20px;margin: 0px;margin-top: 10px;">
          <i class="fa fa-cogs" style="padding-right: 5px;"></i>
          Users
        </h3>
        <p style=" margin-bottom: 5px;"> Users List </p>
      </div>
    </div>
    <div class="pull-right">
      <button (click)="openNewPage()" class="btn btn-outline-success">
        <i class="fa fa-plus-circle"></i> New
      </button>
    </div>
  </div>
</div>

<div class="row form-area">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="">
          <table class="table table-striped">
            <thead class=" text-primary">
            <tr>
              <th class="text-left">Actions</th>
              <th>id</th>
              <th>username</th>
              <th>email</th>
              <th>status</th>
            </tr>
            </thead>
            <tbody>
            <tr
              *ngIf="tableData == undefined || tableData.length === 0 ">
              <td colspan="12" class="empty-table-row">Empty!</td>
            </tr>
            <tr *ngFor="let row of tableData">
              <td>
                <button (click)="openPage( row['id'])" class="btn btn-outline-success btn-icon btn-sm" title="Edit"
                        type="button">
                  <i class="fa fa-pencil-alt"></i>
                </button>
                <div #myDrop="ngbDropdown" class="d-inline-block" ngbDropdown
                     style="margin-top: 4px;">
                  <button (click)="myDrop.open();"
                          class="btn btn-outline-default btn-icon btn-sm"
                          title="More">
                    <i class="fa fa-ellipsis-v"></i>
                  </button>
                  <div ngbDropdownMenu>
                    <button (click)="delete(row['id'])"
                            class="text-danger"
                            ngbDropdownItem>
                      <i class="fa fa-times"></i> Delete
                    </button>
                    <div class="dropdown-divider"></div>
                    <button (click)="clone( row['id'])"
                            class="text-success"
                            ngbDropdownItem>
                      <i class="fa fa-clone"></i> Copy As New
                    </button>
                  </div>
                </div>
              </td>
              <td>
                <input [(ngModel)]="row['id']" class="form-control transparent-input" readonly type="text">
              </td>
              <td>
                <input [(ngModel)]="row['username']" class="form-control transparent-input" readonly type="text">
              </td>
              <td>
                <input [(ngModel)]="row['email']" class="form-control transparent-input" readonly type="text">
              </td>
              <td>
                <input [(ngModel)]="row['status']" class="form-control transparent-input" readonly type="text">
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
