.navbar-wrapper{
  overflow: auto;
  white-space: nowrap;
  padding: 2px;
}

.search-field{
  min-width: 200px;
 // padding-left: 15px
}

.search-field .input-group .form-control{
  min-width: 200px;
  transition: min-width 2s;
}

.search-field .input-group .form-control:focus {
  min-width: 350px;
}

::-webkit-scrollbar {
  width: 1px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dee2e6 ;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #78cbce ;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #54a2a5 ;
}


.active-header{
  border-color: #51cbd4 !important;
}

.spinner {
  height: 38px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #3aabb3;
  height: 100%;
  width: 1px;
  display: inline-block;
}

.running-spinner > div {
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.stopped-spinner > div {
  animation: sk-stretchdelay-stopped 1.2s infinite ease-in-out;
}

.rect{
  margin: 1px;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@keyframes sk-stretchdelay {

  0%, 40%, 100% {
    transform: scaleY(0.05);
    -webkit-transform: scaleY(0.05);
  }  20% {
       transform: scaleY(1.0);
       -webkit-transform: scaleY(1.0);
     }
}

@keyframes sk-stretchdelay-stopped {
  0%, 40%, 100% {
    transform: scaleY(0.05);
    -webkit-transform: scaleY(0.05);
  }
}

.btn-group .btn + .btn {
  font-size: 10px;
}

.modal-dialog {
  max-width: 2500px;
  padding-left: 20px;
  padding-right: 20px;
}

.modal-dialog-button {
  padding: 3px;
  padding-top: 14px;
  padding-right: 18px;
}

.modal-dialog-body {
  padding-top: 1px;
}

.modal-header{
  display: block!important;
  padding: 8px;
}

.modal-title{
  min-height: 21px;
}

.loading-nav-item{
  padding-top: 2px;
}

.progress {
  height: 3px;
  position: absolute;
  width: 100%;
  border-radius: 0px;
  top: 63px;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #309bdb;
  transition: width 0.1s ease;
}

.navbar-hidden-border {
  border-bottom: 1px solid #ddd0;
}

.navbar p {
  padding-left: 8px;
}

@media only screen and (max-width: 991px) {

  .navbar a.dropdown-item:hover {
    color: #3573ab;
    background: white;
  }

  .bg-white {
    padding-top: 15px !important;
  }

  .navbar {
    border-bottom: 1px solid #ddd;
  }

}


