<div class="sidebar-wrapper">
  <div class="logo">
    <div class="logo-image-small"><img src="assets/img/logo/sofia_logo(1)(4).png"></div>
  </div>

  <div class="user">
    <div class="photo">
      <i class="fa-regular fa-circle-user" style="color: #236594;font-size: 32px;"></i>
    </div>
    <div class="info">
      <a href="javascript:void(0)">
        <span class="avatar-info" style="font-weight: bold;">{{this.username}}</span>
      </a>
      <div class="clearfix"></div>
    </div>
  </div>

  <ul class="nav">
    <li *ngFor="let menuItem of menuHeaders" class="header-menu" routerLinkActive="active">
      <a (click)="parentMenuUnselection(menuItem.id);">
        <i class="fa {{menuItem.icon}} header-menu"></i>
        <p>{{menuItem.name}}</p>
      </a>
    </li>

    <br *ngIf="menuHeaders?.length > 0 ">

    <ng-template #recursiveList let-list>
      <li *ngFor="let menuItem of list" routerLinkActive="active">

        <a (click)="navigate(menuItem);"
           (contextmenu)="rightClickNavigate(menuItem,$event)"
           *ngIf="menuItem.command !== '#parent-menu#' && menuItem.command !== '#parent-collapse#' ">
          <i class="fa {{menuItem.icon}}"></i>
          <p>{{menuItem.name}}</p>
        </a>

        <a (click)="parentMenuSelection(menuItem.id);" *ngIf="menuItem.command === '#parent-menu#'">
          <i class="parent-menu fa {{menuItem.icon}}"></i>
          <p>{{menuItem.name}}</p>
        </a>

        <ng-container *ngIf="menuItem.command === '#parent-collapse#'">
          <a data-toggle="collapse" href="#components-collapse-{{menuItem.id}}">
            <i class="parent-menu fa {{menuItem.icon}}"></i>
            <p>{{menuItem.name}}</p>
          </a>
          <div class="collapse" id="components-collapse-{{menuItem.id}}" style="">
            <ul class="nav sub-nav">
              <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: menuItem.menuFieldList }">
              </ng-container>
            </ul>
          </div>
        </ng-container>

      </li>
    </ng-template>

    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: selectedMenuItems }"></ng-container>

  </ul>


</div>

