.parent-menu{
  color: #319e9e !important;
}

.parent-menu > a{
  color: #319e9e !important;
}

.header-menu {
  color: #dc3545 !important;
}

.header-menu > a{
  color: #dc3545 !important;
}

.header-menu > a{
  color: #dc3545 !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0084b3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #02698e;
}

.sub-nav{
  margin-left: 10px;
}

.user .photo, {
  width: 34px;
  height: 34px;
  overflow: hidden;
  float: left;
  z-index: 5;
  margin-right: 10px;
  border-radius: 50%;
  margin-left: 23px;
}

 .user {
  padding-bottom: 20px;
  margin: 20px auto 0;
  position: relative;
}

.user:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 15px;
  height: 1px;
  width: calc(100% - 30px);
  background-color: rgba(255, 255, 255, .3);
}

.user .info>a>span {
  display: block;
  position: relative;
  opacity: 1;
}

.user a{
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 15px;
  white-space: nowrap;
}

.user .info>a{
  display: block;
  line-height: 17px;
}
