<div class="row formnav">
  <div class="col-sm-12">
    <div class="pull-left">
      <div class="col-12">
        <h3 style="margin-top: 20px;margin: 0px;margin-top: 10px;">
          <i class="fa fa-briefcase" style="padding-right: 5px;"></i>
          Tag Designer
        </h3>
        <p style=" margin-bottom: 5px;"> Tag Designer Form </p>
      </div>
    </div>
    <div class="pull-right">
      <button class="btn btn-outline-success" style="margin-top: 0px;" (click)="save()">
        <i class="fa fa-save"></i>
        Save
      </button>
      <button class="btn btn-outline-danger" style="margin-top: 0px;" [hidden]="mode === 'new-record'"
              (click)="delete()">
        <i class="fa fa-times"></i>
        Delete
      </button>
    </div>
  </div>
</div>

<div class="row form-area">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">
          <i class="fa fa-sliders-h"></i>
          General
        </h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="form-group ">
              <label>Title</label>
              <input type="text" class="form-control" name="title" [(ngModel)]="dto.title">
              <code></code>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control" name="description" [(ngModel)]="dto.description"></textarea>
              <code></code>
            </div>
          </div>
          
        <div class="col-md-3">
               <div class="form-group">
                 <label>Color</label>
                 <input type="text" class="form-control" [(ngModel)]="dto.color"  >
                
                 <div id="color-picker-1" class="mx-auto"></div>
                 <code></code>
               </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>



