<div class="input-group input-group-alternative">
  <div class="input-group-prepend white-field">
                <span
                  (click)="focusInputField(instance)"
                  [ngClass]="{'disabled': !editable}"
                      class="input-group-text white-field">
                  <i class="fa fa-angle-down" style="opacity: 0.8;color: #00bbbf !important;"></i>
                </span>
  </div>
  <select
    [disabled]="!editable"
    #instance
    (keydown)="eventOccuredActions('keydown',$event)"
    (keydown)="keyDownTriggered($event)"
    (keyup)="eventOccuredActions('keyup',$event)"
    (dblclick)="eventOccuredActions('dblclick',$event)"
    (click)="eventOccuredActions('click',$event)"
    (change)="eventOccuredActions('change',$event)"
    (focus)="eventOccuredActions('focus',$event)"
    (focus)="focusTriggered($event)"
    (focusout)="eventOccuredActions('focusout',$event)"
    (drag)="eventOccuredActions('drag',$event)"
    (dragend)="eventOccuredActions('dragend',$event)"
    (mousemove)="eventOccuredActions('mousemove',$event)"
    (mouseout)="eventOccuredActions('mouseout',$event)"
    (mouseover)="eventOccuredActions('mouseover',$event)"
    (mouseup)="eventOccuredActions('mouseup',$event)"
    (resize)="eventOccuredActions('resize',$event)"
    [(ngModel)]="this.componentPersistEntityFieldDTO.value"
    (ngModelChange)="selectItem($event)"
    class="form-control ng-pristine ng-valid ng-touched">
    <option *ngFor="let comboOption of comboOptions['data']" value="{{comboOption['value']}}">{{comboOption['display']}}</option>
  </select>

</div>






