<div class="row formnav">
  <div class="col-sm-12">
    <div class="pull-left">
      <div class="col-12">
        <h3 style="margin-top: 20px;margin: 0px;margin-top: 10px;">
          <i class="fa fa-globe-europe" style="padding-right: 5px;"></i>
          List Language Designer
        </h3>
        <p style=" margin-bottom: 5px;"> Select or Add languages from the <i class="fas fa-globe-europe"></i>
          <b>Available Languages</b> section & Translate on the <b>Main Description</b> & <b>List Column Description</b> </p>
      </div>
    </div>
    <div class="pull-right">
      <button class="btn btn-outline-success" style="margin-top: 0px;" (click)="save()">
        <i class="fa fa-save"></i> Save
      </button>
    </div>
  </div>
</div>

<div class="row form-area">
  <div class="col-md-12">
    <div class="card main-card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-12">
            <div class="pull-left">
              <h5 class="card-title" style="margin-bottom: 0px;">
                <i class="fa fa-th-list"></i>
                List Info</h5>
            </div>
            <div class="pull-right"></div>
          </div>
        </div>
      </div>
      <div class="card-body" style="padding-top: 3px;">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group " [ngClass]="{'has-danger': tableExists}">
              <label>id</label>
              <input type="text" readonly class="form-control" value="{{dto.id}}">
              <code></code>
            </div>
          </div>
          <div class="col-md-10">
            <div class="form-group " [ngClass]="{'has-danger': tableExists}">
              <label>Name</label>
              <input type="text" readonly class="form-control" value="{{dto.name}}">
              <code></code>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row form-area">
  <div class="col-md-12">
    <div class="card main-card">
      <div class="card-header">
        <div class="row formnav">
          <div class="col">
            <div class="pull-left">
              <h5 class="card-title pull-left">
                <i class="fas fa-globe-europe"></i>
                Available Languages</h5>
            </div>
            <div class="pull-right">
              <button
                data-target="#selectLanguageModal"
                data-toggle="modal"
                class="btn btn-outline-primary">
                <i class="fas fa-plus"></i> Add Language
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped">
              <thead class="text-primary">
              <tr>
                <th>Actions</th>
                <th></th>
                <th>Code</th>
                <th>Name</th>
              </tr>
              </thead>
              <tbody>
              <tr
                *ngIf="this.dto == undefined || this.dto?.translations?.length === 0 || this.dto?.translations == undefined ">
                <td colspan="7" class="empty-table-row">Empty!</td>
              </tr>
              <tr *ngFor="let column of this.dto?.translations">
                <td>
                  <button title="Remove" (click)="removeTranslation(column.language)" type="button"
                          class="btn btn-outline-danger btn-icon btn-sm">
                    <i class="fa fa-times"></i>
                  </button>
                  <button title="Remove" (click)="selectLanguage(column.language)" type="button"
                          class="btn btn-outline-success btn-icon btn-sm">
                    <i class="fa fa-pencil-alt"></i>
                  </button>
                </td>


                <td>
                  <img style="width: 18px; padding-bottom: 4px; margin-right: 4px;"
                       src="../../../assets/img/flags/4x3/{{column.language.image}}">
                </td>
                <td>
                  <input type="text" readonly class="form-control" value="{{column.language.code}}">
                </td>
                <td>
                  <input type="text" readonly class="form-control" value="{{column.language.code}}">
                </td>
                <td>
                  <input type="text" class="form-control" readonly value="{{column.language.name}}">
                </td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row formnav">
  <div class="col-sm-12">
    <div class="pull-left">

      <button style="color: #959595 !important;" *ngIf="language == null" type="button" class="btn btn-outline-inactive btn-round btn-white header-tab">
        <i class="fa fa-globe-europe"></i>
        Main Descriptions
      </button>
      <button style="color: #959595 !important;" *ngIf="language == null" type="button"
              class="btn btn-outline-inactive btn-round btn-white header-tab">
        <i class="fa fa-globe-europe"></i>
        List Column Descriptions
      </button>

      <button *ngIf="language != null" type="button" class="btn btn-outline-default btn-round btn-white header-tab"
              (click)="setVisibleSection('header_descriptions');">
        <img style="width: 18px; padding-bottom: 4px; margin-right: 4px;"
             src="../../../assets/img/flags/4x3/{{this.language?.image}}">
        Main Descriptions
      </button>
      <button  *ngIf="language != null" type="button" class="btn btn-outline-default btn-round btn-white header-tab"
               (click)="setVisibleSection('designer');">
        <img  style="width: 18px; padding-bottom: 4px; margin-right: 4px;"
              src="../../../assets/img/flags/4x3/{{this.language?.image}}">
        List Column Descriptions
      </button>
    </div>

  </div>
</div>

<div *ngIf="this.visibleSection === 'general'" class="row form-area">
  <div class="col-md-12">
    <div class="card card-user"  style="min-height: 200px;">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-12">
            <div class="pull-left">
              <h5 class="card-title"></h5>
            </div>
            <div class="pull-right"></div>
          </div>
        </div>
      </div>
      <div class="card-body">
      </div>
    </div>
  </div>
</div>

<div *ngIf="this.visibleSection === 'header_descriptions'" class="row form-area">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-12">
            <div class="pull-left">
              <h5 class="card-title">
                <i class="fa fa-pencil-alt"></i>
                Header Labels</h5>
            </div>
            <div class="pull-right"></div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group " [ngClass]="{'has-danger': tableExists}">
              <label>Title</label>
              <input type="text" class="form-control" [(ngModel)]="this.translation.headerTitle">
              <code></code>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group " [ngClass]="{'has-danger': tableExists}">
              <label>Description</label>
              <input type="text" class="form-control" [(ngModel)]="this.translation.headerDescription">
              <code></code>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="this.visibleSection === 'header_descriptions'" class="row form-area">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-12">
            <div class="pull-left">
              <h5 class="card-title">
                <i class="fa fa-pencil-alt"></i>Body Labels</h5>
            </div>
            <div class="pull-right"></div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group " [ngClass]="{'has-danger': tableExists}">
              <label>Title</label>
              <input type="text" class="form-control" [(ngModel)]="this.translation.title">
              <code></code>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group " [ngClass]="{'has-danger': tableExists}">
              <label>Description</label>
              <input type="text" class="form-control" [(ngModel)]="this.translation.description">
              <code></code>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div *ngIf="this.visibleSection === 'header_descriptions'" class="row form-area">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-12">
            <div class="pull-left">
              <h5 class="card-title">
                <i class="fa fa-pencil-alt"></i>Grouping Labels</h5>
            </div>
            <div class="pull-right"></div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group " [ngClass]="{'has-danger': tableExists}">
              <label>Grouping Title</label>
              <input type="text" class="form-control" name="name" [(ngModel)]="this.translation.groupingTitle">
              <code></code>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group " [ngClass]="{'has-danger': tableExists}">
              <label>Grouping Description</label>
              <input type="text" class="form-control" name="name" [(ngModel)]="this.translation.groupingDescription">
              <code></code>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div *ngIf="this.visibleSection === 'header_descriptions'" class="row form-area">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row formnav">
          <div class="col">
            <div class="pull-left">
              <h5 class="card-title pull-left">
              <i class="fas fa-dice-one"></i>
              Action Buttons</h5>
            </div>
            <div class="pull-right">
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped">
              <thead class="text-primary">
              <tr>
                <th>Actions</th>
                <th>Code</th>
                <th>Icon</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
              <tr
                *ngIf="this.dto == undefined || this.dto?.listActionButtons?.length === 0 || this.dto?.listActionButtons == undefined ">
                <td colspan="7" class="empty-table-row">Empty!</td>
              </tr>
              <tr *ngFor="let listActionButton of this.dto?.listActionButtons">
                <td>
                  <button data-target="#selectedActionButtonModal" (click)="setSelectedActionButton(listActionButton);"
                          data-toggle="modal" title="Details" type="button"
                          class="btn btn-outline-success btn-icon btn-sm">
                    <i class="fas fa-clone"></i>
                  </button>
                </td>
                <td>
                  <input type="text" readonly class="form-control" value="{{listActionButton.code}}">
                </td>
                <td>
                  <input type="text" readonly class="form-control" value="{{listActionButton.icon}}">
                </td>
                <ng-container *ngFor="let translation of listActionButton.translations">
                  <td *ngIf="translation.language.id === this.language.id">
                    <input type="text" class="form-control transparent-input"
                           [(ngModel)]="translation.description">
                  </td>
                </ng-container>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="this.visibleSection === 'designer'" class="row form-area">
  <div [ngClass]="{'col-md-12':showAllFieldsDiv === false,'col-md-8':showAllFieldsDiv}">
    <div class="card">
      <div class="card-header">
        <div class="row formnav">
          <div class="col-sm-12">
            <div class="pull-left">
              <h5 class="card-title pull-left">
                <i class="fa fa-th-list"></i>
                Design</h5>
            </div>
            <div class="pull-right"></div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <ul class="nav nav-tabs" id="tabs" role="tablist">
              <li class="nav-item">
                <a aria-expanded="true" class="nav-link active" data-toggle="tab" href="#columns"
                   role="tab" aria-selected="false">Columns</a>
              </li>
              <li class="nav-item">
                <a aria-expanded="false" class="nav-link" data-toggle="tab" href="#filters"
                   role="tab" aria-selected="true" style="color: #f08a64;">Filters
                </a>
              </li>
              <li class="nav-item">
                <a aria-expanded="false" class="nav-link" data-toggle="tab" href="#grouping"
                   role="tab" aria-selected="false" style="color: #13b0ff;">Grouping</a>
              </li>
              <li class="nav-item">
                <a aria-expanded="false" class="nav-link" data-toggle="tab" href="#actionButtons"
                   role="tab" aria-selected="false">Action Buttons</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="tab-content text-center" id="my-tab-content">

          <div aria-expanded="true" class="tab-pane active" id="columns" role="tabpanel">
            <div class="row formnav" style="padding-bottom: 10px;">
              <div class="col-sm-12">
                <div class="pull-right">
                  <br>
                </div>
              </div>
            </div>

            <table class="table table-striped">
              <thead class="text-primary">
              <tr>
                <th>Code</th>
                <th>Field</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
              <tr
                *ngIf="this.dto == undefined || this.dto?.listComponentColumnFieldList.length === 0 ">
                <td colspan="10" class="empty-table-row">Empty!</td>
              </tr>
              <tr *ngFor="let column of this.dto?.listComponentColumnFieldList"
                  [ngClass]="{'command-field': column.formulaType === 'command', 'sql-field': column.formulaType === 'sql'}">
                <td>
                  <input type="text"
                         readonly
                         class="form-control transparent-input"
                         [(ngModel)]="column.code">
                </td>
                <td>
                  <input *ngIf="column.formulaType !== 'sql' && column.formulaType !== 'command'"
                         type="text"
                         readonly
                         class="form-control transparent-input"
                         value="{{column?.componentPersistEntity?.code}}.{{column?.componentPersistEntityField?.persistEntityField.name}}">
                </td>
                <ng-container *ngFor="let translation of column.translations">
                  <td *ngIf="translation.language.id === this.language.id">
                    <input type="text" class="form-control transparent-input"
                           [(ngModel)]="translation.description">
                  </td>
                </ng-container>
              </tr>

              </tbody>
            </table>
          </div>

          <div aria-expanded="false" class="tab-pane" id="filters" role="tabpanel">

            <div class="row formnav" style="padding-bottom: 10px;">
              <div class="col-sm-12">
                <div class="pull-right">
                  <br>
                </div>
              </div>
            </div>

            <table class="table table-striped">
              <thead class="text-primary">
              <tr>
                <th>Code</th>
                <th>Field</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
              <tr
                *ngIf="this.dto == undefined || this.dto?.listComponentFilterFieldList.length === 0 ">
                <td colspan="12" class="empty-table-row">Empty!</td>
              </tr>
              <tr *ngFor="let column of this.dto?.listComponentFilterFieldList">
                <td>
                  <input type="text"
                         readonly
                         class="form-control transparent-input"
                         [(ngModel)]="column.code">
                </td>
                <td>
                  <input *ngIf="column.formulaType !== 'sql' && column.formulaType !== 'command'"
                         type="text"
                         readonly
                         class="form-control transparent-input"
                         value="{{column?.componentPersistEntity?.code}}.{{column?.componentPersistEntityField?.persistEntityField.name}}">
                </td>
                <ng-container *ngFor="let translation of column.translations">
                  <td *ngIf="translation.language.id === this.language.id">
                    <input type="text" class="form-control transparent-input"
                           [(ngModel)]="translation.description">
                  </td>
                </ng-container>
              </tr>

              </tbody>
            </table>
          </div>

          <div aria-expanded="false" class="tab-pane" id="grouping" role="tabpanel">

            <div class="row formnav" style="padding-bottom: 10px;">

              <div class="col-sm-12">
                <div class="pull-right">
                  <br>
                </div>
              </div>
            </div>

            <table class="table table-striped">
              <thead class="text-primary">
              <tr>
                <th>Code</th>
                <th>Field</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
              <tr
                *ngIf="this.dto == undefined || this.dto?.listComponentLeftGroupFieldList.length === 0 ">
                <td colspan="9" class="empty-table-row">Empty!</td>
              </tr>
              <tr *ngFor="let column of this.dto?.listComponentLeftGroupFieldList">
                <td>
                  <input type="text"
                         readonly
                         class="form-control transparent-input"
                         [(ngModel)]="column.code">
                </td>
                <td>
                  <input *ngIf="column.formulaType !== 'sql' && column.formulaType !== 'command'"
                         type="text"
                         readonly
                         class="form-control transparent-input"
                         value="{{column?.componentPersistEntity?.code}}.{{column?.componentPersistEntityField?.persistEntityField.name}}">
                </td>
                <ng-container *ngFor="let translation of column.translations">
                  <td *ngIf="translation.language.id === this.language.id">
                    <input type="text" class="form-control transparent-input"
                           [(ngModel)]="translation.description">
                  </td>
                </ng-container>
              </tr>

              </tbody>
            </table>

          </div>

          <div aria-expanded="false" class="tab-pane" id="actionButtons" role="tabpanel">
            <div class="row formnav" style="padding-bottom: 10px;">
              <div class="col-sm-12">
                <div class="pull-right">
                  <br>
                </div>
              </div>
            </div>

            <table class="table table-striped">
              <thead class="text-primary">
              <tr>
                <th>Actions</th>
                <th>Code</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
              <tr
                *ngIf="this.dto == undefined || this.dto?.listComponentActionFieldList.length === 0 ">
                <td colspan="7" class="empty-table-row">Empty!</td>
              </tr>
              <tr *ngFor="let column of this.dto?.listComponentActionFieldList">
                <td>
                  <button data-target="#selectedListComponentActionField" (click)="setSelectedListComponentActionFieldList(column);"
                          data-toggle="modal" title="Details" type="button"
                          class="btn btn-outline-success btn-icon btn-sm">
                    <i class="fas fa-clone"></i>
                  </button>
                </td>
                <td>
                  <input type="text" class="form-control transparent-input"
                         [(ngModel)]="column.code" readonly>
                </td>
                <ng-container *ngFor="let translation of column.translations">
                  <td *ngIf="translation.language.id === this.language.id">
                    <input type="text" class="form-control transparent-input"
                           [(ngModel)]="translation.description">
                  </td>
                </ng-container>

              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4" [ngClass]="{'hide':showAllFieldsDiv === false}">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-12">
            <h5 class="card-title pull-left">Available Fields</h5>
          </div>
        </div>

      </div>
      <div class="card-body">
        <ul style="padding: 0px;">
          <li *ngFor="let row of this.dto?.component?.componentPersistEntityList">
            <div class="row">
              <div class="col-md-12">
                <h6 style="margin: 0px;">
                  <button style="margin: 0px;" *ngIf="row.persistEntity != null && row.showFieldList === true"
                          (click)="hideChildren(row)"
                          type="button" title="Hide"
                          class="btn btn-outline-default btn-icon btn-sm">
                    <i class="fa fa-compress"></i>
                  </button>

                  <button style="margin: 0px;" *ngIf="row.persistEntity != null && row.showFieldList !== true"
                          (click)="showChildren(row)"
                          type="button" title="Show"
                          class="btn btn-outline-default btn-icon btn-sm">
                    <i class="fa fa-expand"></i>
                  </button>
                  [{{row.code}}] {{row.persistEntity.name}}
                </h6>
              </div>
            </div>

            <table *ngIf="row.persistEntity != null && row.showFieldList === true" class="table table-striped">
              <thead class=" text-primary">
              <tr>
                <th>actions</th>
                <th>id</th>
                <th>Type</th>
                <th>Editor</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let field of row.componentPersistEntityFieldList"
                  data-dismiss="modal" style="cursor: pointer;">
                <td>
                  <button title="Add to columns" type="button" class="btn btn-outline-primary btn-icon btn-sm"
                          (click)="addFieldToColumns(row, field)">
                    <i class="fa fa-plus-circle" style="color: #4f5057;"></i>
                  </button>
                  <button title="Add to Filters" type="button" class="btn btn-outline-primary btn-icon btn-sm"
                          (click)="addFieldToFilters(row, field)">
                    <i class="fa fa-plus-circle" style="color: #f08a64;"></i>
                  </button>
                  <button title="Add to Grouping" type="button" class="btn btn-outline-primary btn-icon btn-sm"
                          (click)="addFieldToGrouping(row, field)">
                    <i class="fa fa-plus-circle" style="color: #13b0ff;"></i>
                  </button>

                </td>
                <td>{{field.persistEntityField.id}}</td>
                <td>{{field.persistEntityField.type}}</td>
                <td>{{field.editor}}</td>
              </tr>

              </tbody>
            </table>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div aria-labelledby="ModalLabel" class="modal fade" id="selectLanguageModal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-select-fields">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h4 class="title title-up modal-title">
          <i class="fa fa-globe-europe"></i>
          Languages
        </h4>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <i class="nc-icon nc-simple-remove"></i></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-12">
              <table class="table table-striped">
                <thead class=" text-primary">
                <tr>
                  <th>Actions</th>
                  <th></th>
                  <th>Code</th>
                  <th>Name</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let language of languages" style="cursor: pointer;">
                  <td>
                    <button type="button" title="Delete" class="btn btn-outline-primary btn-icon btn-sm"
                            data-dismiss="modal"
                            (click)="addLanguage(language)">
                      <i class="fa fa-plus"></i>
                    </button>
                  </td>
                  <td>
                    <img  style="width: 18px; padding-bottom: 4px; margin-right: 4px;"
                          src="../../../assets/img/flags/4x3/{{language.image}}">
                  </td>
                  <td>
                    <input type="text" readonly class="form-control transparent-input"
                           value="{{language.code}}">
                  </td>
                  <td>
                    <input type="text" readonly class="form-control transparent-input"
                           value="{{language.name}}">
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="left-side">
          <button class="btn btn-outline-danger" data-dismiss="modal" type="button">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div aria-labelledby="ModalLabel" class="modal fade" id="selectedActionButtonModal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-select-fields" style="max-width: 1200px;">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h4 class="title title-up modal-title">Submenu Buttons</h4>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><i
          class="nc-icon nc-simple-remove"></i></button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped">
              <thead class="text-primary">
              <tr>
                <th>Code</th>
                <th>Icon</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
              <tr
                *ngIf="this.selectedActionButton?.listActionButtons == undefined || this.selectedActionButton?.listActionButtons?.length === 0">
                <td colspan="7" class="empty-table-row">Empty!</td>
              </tr>
              <tr *ngFor="let listActionButton of this.selectedActionButton?.listActionButtons">
                <td>
                  <input type="text" readonly value="{{listActionButton.code}}" class="form-control">
                </td>
                <td>
                  <input type="text" readonly value="{{listActionButton.icon}}" class="form-control">
                </td>
                <ng-container *ngFor="let translation of listActionButton.translations">
                  <td *ngIf="translation.language.id === this.language.id">
                    <input type="text" class="form-control transparent-input"
                           [(ngModel)]="translation.description">
                  </td>
                </ng-container>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div aria-labelledby="ModalLabel" class="modal fade" id="selectedActionFieldFieldModal" role="dialog"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-select-fields">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h4 class="title title-up modal-title">Action field details</h4>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><i
          class="nc-icon nc-simple-remove"></i></button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-12">
            <label>Code</label>
            <input type="text" class="form-control" readonly [(ngModel)]="selectedFilterField.code">
          </div>
        </div>


        <div class="row">
          <div class="col-12">
            <label>Description</label>
            <textarea class="form-control" [(ngModel)]="selectedFilterField.description"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <label>EDITOR</label>
            <textarea class="form-control" [(ngModel)]="selectedFilterField.editor"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <label>Custom css</label>
            <textarea class="form-control" [(ngModel)]="selectedFilterField.css"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <label>Icon Class</label>
            <input type="text" class="form-control" [(ngModel)]="selectedFilterField.bclass">
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <label>Visible</label><br>
            <select class="transparent-input" [(ngModel)]="selectedFilterField.visible">
              <option value="false">No</option>
              <option value="true">Yes</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="left-side">
          <button class="btn btn-outline-danger" data-dismiss="modal" type="button">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div aria-labelledby="ModalLabel" class="modal fade" id="selectedListComponentActionField" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-select-fields" style="max-width: 1200px;">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h4 class="title title-up modal-title">Submenu Buttons</h4>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <i class="nc-icon nc-simple-remove"></i></button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped">
              <thead class="text-primary">
              <tr>
                <th>Code</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
              <tr
                *ngIf="this.selectedListComponentActionField?.listComponentActionFieldList == undefined || this.selectedListComponentActionField?.listComponentActionFieldList?.length === 0">
                <td colspan="7" class="empty-table-row">Empty!</td>
              </tr>
              <tr *ngFor="let column of this.selectedListComponentActionField?.listComponentActionFieldList">
                <td>
                  <input type="text" class="form-control transparent-input"
                         [(ngModel)]="column.code" readonly>
                </td>
                <ng-container *ngFor="let translation of column.translations">
                  <td *ngIf="translation.language.id === this.language.id">
                    <input type="text" class="form-control transparent-input"
                           [(ngModel)]="translation.description">
                  </td>
                </ng-container>

              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="left-side">
        </div>
      </div>
    </div>
  </div>
</div>

<div aria-labelledby="ModalLabel" class="modal fade" id="selectUserGroupsModal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h4 class="title title-up modal-title">Insert Role</h4>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><i
          class="nc-icon nc-simple-remove"></i></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-12">
              <table class="table table-striped">
                <thead class=" text-primary">
                <tr>
                  <th>Actions</th>
                  <th>Name</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let row of this.roles" style="cursor: pointer;">
                  <td>
                    <button
                      type="button"
                      data-dismiss="modal"
                      class="btn btn-outline-success btn-icon btn-sm"
                      (click)="selectRole(row)">
                      <i class="fa fa-plus"></i>
                    </button>
                  </td>
                  <td>
                    <input type="text" readonly class="form-control transparent-input"
                           value="{{row['name']}}">
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="left-side">
          <button class="btn btn-outline-danger" data-dismiss="modal" type="button">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
