<div class="row formnav">
  <div class="col-sm-12">
    <div class="pull-left">
      <div class="col-12">
        <h3 style="margin-top: 20px;margin: 0px;margin-top: 10px;">
          <i class="fa fa-calculator" style="padding-right: 5px;"></i>
          Nav Expression Calculator
        </h3>
        <p style=" margin-bottom: 5px;"> Write Expression & Stringify to use to commands</p>
      </div>
    </div>
    <div class="pull-right">
    </div>
  </div>
</div>

<app-nav-command-calculator></app-nav-command-calculator>
