<div class="row formnav">
  <div class="col-sm-12">
    <div class="pull-left">
      <div class="col-12">
        <h3 style="margin-top: 20px;margin: 0px;margin-top: 10px;">
          <i class="fa fa-cogs" style="padding-right: 5px;"></i>
          Info Card Designer
        </h3>
        <p style=" margin-bottom: 5px;"> Info Card Designer Form </p>
      </div>
    </div>

    <div class="pull-right">
      <button class="btn btn-outline-success" style="margin-top: 0px;" (click)="save()">
        <i class="fa fa-save"></i> Save
      </button>
      <button class="btn btn-outline-danger" style="margin-top: 0px;" [hidden]="mode === 'new-record'"
              (click)="delete()">
        <i class="fa fa-times"></i> Delete
      </button>
    </div>
  </div>
</div>
<div class="row formnav">
  <div class="col-sm-12">
    <div class="pull-left">
      <button type="button" class="btn btn-outline-default btn-round btn-white header-tab"
              (click)="setVisibleSection('general');">
        <i class="fa fa-sliders-h"></i>
        general
      </button>
      <button type="button" class="btn btn-outline-default btn-round btn-white header-tab"
              (click)="setVisibleSection('scripts');">
        <i class="fa fa-code"></i>
        Scripts
      </button>
    </div>

  </div>
</div>

<div [ngClass]="{'is-hidden': this.visibleSection !== 'general' }" class="row form-area">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">
          <i class="fa fa-sliders-h"></i>
          General
        </h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group ">
              <label>Title</label>
              <input type="text" class="form-control" name="title" [(ngModel)]="dto.title">
              <code></code>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10">
            <div class="form-group">
              <label>Command</label>
              <input type="text" class="form-control" name="command" [(ngModel)]="dto.command">
              <code></code>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Command Icon</label>
              <input type="text" class="form-control" name="icon" [(ngModel)]="dto.commandIcon">
              <code></code>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10">
            <div class="form-group">
              <label>Command</label>
              <input type="text" class="form-control" name="description" [(ngModel)]="dto.description">
              <code></code>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div [ngClass]="{'is-hidden': this.visibleSection !== 'general' }" class="row form-area">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title" style="margin-bottom: 0px;">
          <i class="fa fa-code"></i>
          Sql Query
        </h5>
        <p style=" margin-bottom: 5px;"> Query must contain 1 Row & 4 Columns for 1.<b>Card Body</b>, 2.<b>Title</b>, 3.<b>Icon</b>, 4.<b>Icon Color</b> </p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <ace style="width: 100%;height: 300px;border: 1px solid #51cbce;"
                   [config]="aceSQLEditorConfig"
                   [(value)]="dto.query"></ace>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div [ngClass]="{'is-hidden': this.visibleSection !== 'general' }" class="row form-area">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">
          <i class="fa fa-clock-o"></i>
          Execute Periodically
        </h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-10">
            <div class="form-group ">
              <label>Every (in seconds)</label>
              <input type="number" class="form-control" name="title" [(ngModel)]="dto.executionInterval">
              <code></code>
            </div>
          </div>
          <div class="col-md-2">
            <label style="padding-bottom: 20px;"></label>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" [(ngModel)]="this.dto.executePeriodically"> Enable time execution
                <span class="form-check-sign"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div [ngClass]="{'is-hidden': this.visibleSection !== 'scripts' }" class="row form-area">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row formnav">
          <div class="col">
            <div class="pull-left">
              <h5 class="card-title">
                <i class="fa fa-code"></i> Scripts
              </h5>
            </div>
            <div class="pull-right">
              <button (click)="addScript()"
                      type="button" class="btn btn-outline-success">
                <i class="fa fa-plus-circle"></i> New
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">

          <div class="col-md-12">

            <table class="table table-striped">
              <thead class=" text-primary">
              <tr>
                <th>actions</th>
                <th>Name</th>
              </tr>
              </thead>
              <tbody>
              <tr
                *ngIf="this.dto?.scripts == undefined || this.dto?.scripts?.length === 0">
                <td colspan="2" class="empty-table-row">Empty!</td>
              </tr>

              <tr *ngFor="let listScript of this.dto?.scripts">
                <td>
                  <button title="Remove" (click)="removeScriptByField(listScript)" type="button"
                          class="btn btn-outline-danger btn-icon btn-sm">
                    <i class="fa fa-times"></i>
                  </button>
                  <button (click)="setSelectedScript(listScript);"
                          title="Details"
                          type="button"
                          class="btn btn-outline-success btn-icon btn-sm">
                    <i class="fa fa-search"></i>
                  </button>
                  <button (click)="moveUp(listScript, this.dto?.scripts)" type="button"
                          title="Move Up" class="btn btn-outline-warning btn-icon btn-sm">
                    <i class="fa fa-angle-up"></i>
                  </button>
                  <button (click)="moveDown(listScript, this.dto?.scripts)" type="button"
                          title="Move Down" class="btn btn-outline-warning btn-icon btn-sm">
                    <i class="fa fa-angle-down"></i>
                  </button>
                </td>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="listScript.name">
                </td>
              </tr>
              </tbody>
            </table>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="this.visibleSection === 'scripts' && selectedScript != null" class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <ace style="width: 100%;height: 800px;border: 1px solid #51cbce;"
                   [config]="aceJavascriptEditorConfig"
                   [(value)]="selectedScript.script"></ace>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
