<div class="row formnav">
  <div class="col-sm-12">
    <div class="pull-left">
      <div class="col-12">
        <h3 style="margin-top: 20px;margin: 0px;margin-top: 10px;">
          <i class="fa fa-puzzle-piece" style="padding-right: 5px;"></i>
          Rule Designer
        </h3>
        <p style=" margin-bottom: 5px;"> Rule Designer Form </p>
      </div>
    </div>
    <div class="pull-right">
      <button class="btn btn-outline-success" style="margin-top: 0px;" (click)="save()">
        <i class="fa fa-save"></i>
        Save
      </button>
      <button class="btn btn-outline-danger" style="margin-top: 0px;" [hidden]="mode === 'new-record'"
              (click)="delete()">
        <i class="fa fa-times"></i>
        Delete
      </button>
      <button class="btn btn-outline-primary" style="margin-top: 0px;" *ngIf="showPreviousPageButton()" (click)="navigateToPreviousPage()">
        <i class="fa fa-chevron-left"></i> Back
      </button>
      <button class="btn btn-outline-primary" style="margin-top: 0px;" *ngIf="showNextPageButton()" (click)="navigateToNextPage()">
        <i class="fa fa-chevron-right"></i> Next
      </button>
    </div>
  </div>
</div>

<div class="row formnav">
  <div class="col-sm-12">
    <div class="pull-left">
      <button type="button" class="btn btn-outline-default btn-round btn-white header-tab"
              (click)="setVisibleSection('general');">
        <i class="fa fa-sliders-h"></i>
        General
      </button>

    </div>
  </div>
</div>

<div [ngClass]="{'is-hidden': this.visibleSection !== 'general' }" class="row form-area">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-body">

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label>Id</label>
              <input
                type="text" class="form-control" readonly value="{{dto.id}}">
              <code></code>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group ">
              <label>Code</label>
              <input type="text" class="form-control"   mask="S*"
                     [(ngModel)]="dto.code">
              <code></code>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group ">
              <label>Name</label>
              <input type="text" class="form-control" [(ngModel)]="dto.name">
              <code></code>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label>Description</label>
              <textarea
                class="form-control textarea" name="description" [(ngModel)]="dto.description"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row form-area">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-7">
            <h5 class="card-title pull-left">
              <i class="fa-regular fa-clipboard"></i>
              Rule Definition</h5>
          </div>
          <div class="col-sm-5">
            <div class="pull-right">
              <button class="btn btn-round btn-outline-primary "
                      (click)="addMenuField()">
                <i class="fa fa-plus-circle"></i>
                Expression  </button>
            </div>
          </div>
        </div>

      </div>
      <div class="card-body">
        <div class="empty-table-row" *ngIf="dto.ruleExpressionList.length == 0">Empty!</div>
        <ul>
          <ng-template #recursiveList let-list>

            <li *ngFor="let item of list; let last = last;">

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <div class="input-group input-group-alternative">

                      <div class="input-group-prepend">
                         <span [ngStyle]="{'background-color': item.parrent == null ? 'antiquewhite': item.parrent.color}"
                               class="input-group-text textfield-button-info expand-button rule-field-icon">
                              <i style="color: #000000;" class="fa-solid fa-bars-staggered"></i>
                         </span>
                      </div>

                      <div class="input-group-prepend">
                        <input type="text"
                               readonly
                               [ngStyle]="{'background-color': item.parrent == null ? 'antiquewhite': item.parrent.color}"
                               placeholder="Select Field"
                               (click)="setSelected(item)"  data-target="#fieldSelectionArea" data-toggle="modal"
                               class="form-control textfield-area expr-unit-type rule-field"
                               value="{{item.field}}">
                      </div>


                      <div class="input-group-prepend">
                         <span [ngStyle]="{'background-color': item.parrent == null ? 'antiquewhite': item.parrent.color}"
                               class="input-group-text textfield-button-info expand-button expand-button2 rule-type-icon">
                              <i style="color: #000000;"  class="fa-solid fa-grip-vertical"></i>
                         </span>
                      </div>

                      <div class="input-group-prepend">
                        <input [ngStyle]="{'background-color': item.parrent == null ? 'antiquewhite': item.parrent.color}"
                               type="text"
                               readonly
                               (click)="setSelected(item)"
                               data-target="#operatorSelectionArea" data-toggle="modal"
                               placeholder="Select Operator"
                               class="form-control textfield-area expr-unit-type rule-type"
                               value="{{item.operator}}">
                      </div>


                      <div class="input-group-prepend">
                         <span class="input-group-text textfield-button-info expand-button expand-button2 rule-expression-icon">
                             <i class="fa-solid fa-marker"></i>
                         </span>
                      </div>

                        <input type="text"
                               placeholder="Write Expression"
                               class="form-control textfield-area expr-unit-type rule-expression"
                               [ngModel]="item.command">
                    </div>
                  </div>

                </div>
                <div class="col-md-auto"
                     *ngIf="!last"
                     style="padding-left: 0px;">

                  <div class="btn-group">
                    <button class="btn btn-outline-default"
                            [ngStyle]="{'background-color': item.joinType == 'and' ? item.color : 'white', 'color' : '#404040'}"
                            (click)="item.joinType = 'and';" type="button">And</button>
                    <button class="btn btn-outline-default and-or-left-btn"
                            [ngStyle]="{'background-color': item.joinType == 'or' ? item.color : 'white', 'color' : '#404040'}"
                            (click)="item.joinType = 'or';" type="button">Or</button>
                  </div>
                </div>
              </div>

              <h6>
                <button (click)="upItemInList(item,list)"   type="button" title="New Submenu"
                        class="btn btn-round btn-outline-warning btn-icon btn-sm">
                  <i class="fa fa-angle-up"></i>
                </button>
                <button (click)="downItemInList(item, list)"   type="button" title="New Submenu"
                        class="btn btn-round btn-outline-warning btn-icon btn-sm">
                  <i class="fa fa-angle-down"></i>
                </button>
                <button (click)="addChildMenuField(item)"  type="button" title="New Rule Area"
                        class="btn btn-round btn-outline-primary btn-icon btn-sm">
                  <i class="fa fa-plus-circle"></i>
                </button>
                <button (click)="removeMenuFieldLine(item,dto.ruleExpressionList )" type="button" title="Delete"
                        class="btn btn-round btn-outline-danger btn-icon btn-sm">
                  <i class="fa fa-times"></i>
                </button>

                <button (click)="hideChildren(item)" *ngIf="hasChildren(item) && (item.expanded === true)" type="button" title="Compress"
                        class="btn btn-round btn-outline-primary btn-icon btn-sm">
                  <i class="fa fa-compress"></i>
                </button>

                <button (click)="showChildren(item)" *ngIf="hasChildren(item) && (item.expanded !== true)" type="button" title="Expand"
                        class="btn btn-round btn-outline-primary btn-icon btn-sm last-menu-item-button">
                  <i class="fa fa-expand"></i>
                </button>

                <div *ngIf="hasChildren(item)" style="padding-left: 5px" class="btn-group">
                    <button class="btn btn-outline-default"
                            [ngStyle]="{'background-color': item.childrenJoinType == 'and' ? item.color : 'white', 'color' : '#404040'}"
                            (click)="item.childrenJoinType = 'and';" type="button">And</button>
                    <button class="btn btn-outline-default and-or-left-btn"
                            [ngStyle]="{'background-color': item.childrenJoinType == 'or' ? item.color : 'white', 'color' : '#404040'}"
                            (click)="item.childrenJoinType = 'or';" type="button">Or</button>
                  </div>

                <i class="fa {{item.icon}}"></i>
                {{item.name}}
              </h6>
              <ul *ngIf="(item.ruleExpressionList != undefined) && item.expanded === true">
                <ng-container
                  *ngTemplateOutlet="recursiveList; context:{ $implicit: item.ruleExpressionList }">
                </ng-container>
              </ul>
            </li>
          </ng-template>


          <ng-container
            *ngTemplateOutlet="recursiveList; context:{ $implicit: dto.ruleExpressionList }"></ng-container>
        </ul>
      </div>


    </div>
  </div>
</div>

<div aria-labelledby="ModalLabel" class="modal fade" id="fieldSelectionArea" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h4 class="title title-up modal-title">Select Field</h4>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><i
          class="fa fa-times"></i></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-12">
              <table class="table table-striped table-fixed">
                <thead class=" text-primary">
                <tr>
                  <th></th>
                  <th>Title</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngIf="false">
                  <td colspan="2" class="empty-table-row">Empty!</td>
                </tr>
                <tr>
                  <td>
                    <button type="button" title="Select" class="btn btn-outline-success btn-icon btn-sm"
                            data-dismiss="modal"
                            (click)="setRuleField('First Name');">
                      <i class="fa fa-plus"></i>
                    </button>
                  </td>
                  <td>
                    <input type="text" readonly class="form-control transparent-input" value="First Name">
                  </td>
                </tr>
                <tr>
                  <td>
                    <button type="button" title="Select" class="btn btn-outline-success btn-icon btn-sm"
                            data-dismiss="modal"
                            (click)="setRuleField('Last Name');">
                      <i class="fa fa-plus"></i>
                    </button>
                  </td>
                  <td>
                    <input type="text" readonly class="form-control transparent-input" value="Last Name">
                  </td>
                </tr>
                <tr>
                  <td>
                    <button type="button" title="Select" class="btn btn-outline-success btn-icon btn-sm"
                            data-dismiss="modal"
                            (click)="setRuleField('Telephone');">
                      <i class="fa fa-plus"></i>
                    </button>
                  </td>
                  <td>
                    <input type="text" readonly class="form-control transparent-input" value="Telephone">
                  </td>
                </tr>
                <tr>
                  <td>
                    <button type="button" title="Select" class="btn btn-outline-success btn-icon btn-sm"
                            data-dismiss="modal"
                            (click)="setRuleField('Address');">
                      <i class="fa fa-plus"></i>
                    </button>
                  </td>
                  <td>
                    <input type="text" readonly class="form-control transparent-input" value="Address">
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="left-side">
          <button class="btn btn-outline-danger" data-dismiss="modal" type="button">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div aria-labelledby="ModalLabel" class="modal fade" id="operatorSelectionArea" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h4 class="title title-up modal-title">Select Operator</h4>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><i
          class="fa fa-times"></i></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-12">
              <table class="table table-striped table-fixed">
                <thead class=" text-primary">
                <tr>
                  <th></th>
                  <th>Title</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngIf="false">
                  <td colspan="2" class="empty-table-row">Empty!</td>
                </tr>
                <tr>
                  <td>
                    <button type="button" title="Select" class="btn btn-outline-success btn-icon btn-sm"
                            data-dismiss="modal"
                            (click)="setOperatorField('Equals');">
                      <i class="fa fa-plus"></i>
                    </button>
                  </td>
                  <td>
                    <input type="text" readonly class="form-control transparent-input" value="Equals">
                  </td>
                </tr>
                <tr>
                  <td>
                    <button type="button" title="Select" class="btn btn-outline-success btn-icon btn-sm"
                            data-dismiss="modal"
                            (click)="setOperatorField('Greater Than');">
                      <i class="fa fa-plus"></i>
                    </button>
                  </td>
                  <td>
                    <input type="text" readonly class="form-control transparent-input" value="Greater Than">
                  </td>
                </tr>
                <tr>
                  <td>
                    <button type="button" title="Select" class="btn btn-outline-success btn-icon btn-sm"
                            data-dismiss="modal"
                            (click)="setOperatorField('Smaller Than');">
                      <i class="fa fa-plus"></i>
                    </button>
                  </td>
                  <td>
                    <input type="text" readonly class="form-control transparent-input" value="Smaller Than">
                  </td>
                </tr>
                <tr>
                  <td>
                    <button type="button" title="Select" class="btn btn-outline-success btn-icon btn-sm"
                            data-dismiss="modal"
                            (click)="setOperatorField('Starts With');">
                      <i class="fa fa-plus"></i>
                    </button>
                  </td>
                  <td>
                    <input type="text" readonly class="form-control transparent-input" value="Starts With">
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="left-side">
          <button class="btn btn-outline-danger" data-dismiss="modal" type="button">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
