.btn{
  margin: 2px;
}
.empty-list {
  padding: 30px;
  text-align: center;
}

ul {
  padding-left: 7px;
}

li { /* styles all li elements*/
  list-style-type: none;
  padding-left: 0px;
  text-align: left;
}
