  <div class="card card-stats">
    <div class="card-body ">
      <div class="row">
        <div class="col-5 col-md-4">
          <div class="icon-big text-center icon-warning">
            <i class="fa {{this.dto?.icon}}" style="color:{{this.dto?.iconColor}}"></i>
          </div>
        </div>
        <div class="col-7 col-md-8">
          <div class="numbers">
            <p class="card-category" [innerHTML]="this.trustResource(this.dto?.title)"></p>
            <p class="card-title" [innerHTML]="this.trustResource(this.dto?.cardText)">
            <p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <ng-container *ngIf="this.dto?.commandIcon != null && this.dto?.commandIcon != ''">
      <hr>
      <div class="stats" (click)="openPage()" style="cursor: pointer;">

        <i class="fa {{this.dto?.commandIcon}}"></i>
        {{this.dto?.description}}
      </div>
      </ng-container>
    </div>
  </div>

