<div class="row formnav">
  <div class="col-sm-12">
    <div class="numbers pull-left"></div>
    <div class="pull-left">
      <div class="col-12">
        <h3 style="margin-top: 20px;margin: 0px;margin-top: 10px;">
          <i class="fa fa-cogs" style="padding-right: 5px;"></i>
          Menu Designer
        </h3>
        <p style=" margin-bottom: 5px;"> Menu Designer List </p>
      </div>
    </div>
    <div class="pull-right">
      <button (click)="openNewPage()" class="btn btn-outline-primary">
        <i class="fa fa-plus-circle"></i> New
      </button>
      <button (click)="refresh()" class="btn btn-outline-primary">
        <i class="fa fa-refresh"></i> Refresh
      </button>
    </div>
  </div>
</div>
<div class="row form-area">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-12">
            <div class="numbers pull-left"></div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="">
          <table class="table table-striped">
            <thead class=" text-primary">
            <tr>
              <th class="text-left">Actions</th>
              <th>id</th>
              <th>name</th>
              <th>Modified On</th>
            </tr>
            </thead>np
            <tbody>
            <tr
              *ngIf="tableData == undefined || tableData.length === 0 ">
              <td colspan="12" class="empty-table-row">Empty!</td>
            </tr>
            <tr *ngFor="let row of tableData">
              <td>
                <button (click)="openPage(row['id'])" class="btn btn-outline-success btn-icon btn-sm" title="Edit"
                        type="button">
                  <i class="fa fa-pencil-alt"></i>
                </button>
                <button (click)="openTranslationPage(row['id'])" class="btn btn-outline-info btn-icon btn-sm" title="Translate"
                        type="button">
                  <i class="fa fa-globe-europe"></i>
                </button>
                <div #myDrop="ngbDropdown" class="d-inline-block" ngbDropdown
                     style="margin-top: 4px;">
                  <button (click)="myDrop.open();"
                          class="btn btn-outline-default btn-icon btn-sm"
                          title="More">
                    <i class="fa fa-ellipsis-v"></i>
                  </button>
                  <div ngbDropdownMenu>
                    <button (click)="delete(row)"
                            class="text-danger menu-button"
                            ngbDropdownAnchor>
                      <i class="fa fa-times"></i> Delete
                    </button>
                    <div ngbDropdownAnchor class="dropdown-divider"></div>
                    <button (click)="clone( row['id'])"
                            class="text-success menu-button"
                            ngbDropdownAnchor>
                      <i class="fa fa-clone"></i> Copy As New
                    </button>
                  </div>
                </div>
              </td>
              <td>
                <input [(ngModel)]="row['id']" class="form-control transparent-input" readonly type="text">
              </td>
              <td>
                <input [(ngModel)]="row['name']" class="form-control transparent-input" readonly type="text">
              </td>
              <td>
                <input [(ngModel)]="row['modifiedOn']" class="form-control transparent-input" readonly type="text">
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>




