<div class="row formnav">
  <div class="col-sm-12">
    <div class="pull-left">
      <div class="col-12">
        <h3 style="margin-top: 20px;margin: 0px;margin-top: 10px;">
          <i class="fa fa-cogs" style="padding-right: 5px;"></i>
          Application Settings
        </h3>
        <p style=" margin-bottom: 5px;"> Define Application Name & Logos </p>
      </div>
    </div>
    <div class="pull-right">
      <button (click)="save()" class="btn btn-outline-success" style="margin-top: 0px;">
        <i class="fa fa-save"></i> Save
      </button>
    </div>
  </div>
</div>

<div class="row form-area">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-12">
            <div class="pull-left">
              <h5 class="card-title">
                <i class="fa fa-sliders-h"></i>
                Settings</h5>
            </div>
            <div class="pull-right"></div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Name</label>
              <input [(ngModel)]="dto.name" class="form-control" type="text">
              <code></code>
            </div>
          </div>

          <div class="col-12">
            <div>
              <label>Sidebar Image</label>
              <div class="img-div"><img [src]="this.trustResource(dto.sidebarImage)" height="200"></div>
              <input #sidebarImageFileUploader (change)="onSidebarImageFileSelect($event)" class="form-control" style="display: none;"
                     type='file' accept="image/apng, image/avif, image/gif, image/jpeg, image/png, image/svg+xml, image/webp">
              <button (click)="sidebarImageFileUploader.click()" class="btn btn-info btn-round" style="cursor: pointer;"
                      type="button">
                <i class="fa fa-save"></i>
                Upload
              </button>
              <button (click)="this.dto.sidebarImage = './assets/img/sofia.png'"
                class="btn btn-danger btn-round"
                      style="cursor: pointer;"
                      type="button">
                <i class="fa fa-trash"></i>
                Clear
              </button>
              <code></code>
            </div>
          </div>

          <div class="col-12">
            <div>
              <label>Login Image</label>
              <div class="img-div"><img [src]="this.trustResource(dto.loginImage)" height="200"></div>
              <input #loginImageFileUploader (change)="onLoginImageFileSelect($event)" class="form-control" style="display: none;"
                     type='file' accept="image/apng, image/avif, image/gif, image/jpeg, image/png, image/svg+xml, image/webp">
              <button (click)="loginImageFileUploader.click()" class="btn btn-info btn-round" style="cursor: pointer;"
                      type="button">
                <i class="fa fa-save"></i>
                Upload
              </button>
              <button (click)="this.dto.loginImage = './assets/img/sofia.png'"
                      class="btn btn-danger btn-round"
                      style="cursor: pointer;"
                      type="button">
                <i class="fa fa-trash"></i>
                Clear
              </button>
              <code></code>
            </div>
          </div>

          <div class="col-12">
            <div>
              <label>Icon</label>
              <div class="img-div"><img [src]="this.trustResource(dto.icon)" height="20"></div>
              <input #iconImageFileUploader (change)="onIconFileSelect($event)" class="form-control" style="display: none;"
                     type='file' accept="image/apng, image/avif, image/gif, image/jpeg, image/png, image/svg+xml, image/webp">
              <button (click)="iconImageFileUploader.click()" class="btn btn-info btn-round" style="cursor: pointer;"
                      type="button">
                <i class="fa fa-save"></i>
                Upload
              </button>
              <button (click)="this.dto.icon = './assets/img/sofia_icon.png'"
                      class="btn btn-danger btn-round"
                      style="cursor: pointer;"
                      type="button">
                <i class="fa fa-trash"></i>
                Clear
              </button>
              <code></code>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
