<div class="row formnav">
  <div class="col-sm-12">
    <div class="pull-left">
      <div class="col-12">
        <h3 style="margin-top: 20px;margin: 0px;margin-top: 10px;">
          <i class="fa fa-bell" style="padding-right: 5px;"></i>
          Notifications
        </h3>
      </div>
    </div>
    <div class="pull-right">
      <button class="btn btn-outline-success" style="margin-top: 0px;" (click)="send()">
        <i class="fa fa-share"></i>
        Share
      </button>
    </div>
  </div>
</div>
